[2021-07-12 11:50] seanmcilroy29 opened #3 "Characteristic: Consequential versus Attributional"

[2021-07-12 12:01] jawache opened #4 "What is the market perspective for this specification?"
From a market perspective...

* What can you do with this specification?
* What problem does this solve?
* How can this specification be applied?
* Consider the target audience and provide deployment examples as possible.

[This was taken from the template spec doc]

[2021-07-13 07:49] atg-abhishek opened #5 "Questions to consider as we shape the SCI"
I think as a part of the scope of this SCI, we should try and at least come up with answers to the following questions so that the SCI becomes something that is meaningful and actually adopted in practice:

1. What are the properties of the entire software system that we should be measuring?
2. Which of these properties currently have/lack metrics for **effective** measurement?
3. As highlighted a

[2021-07-13 07:54] atg-abhishek commented on #4
@jawache

1. I think the purpose of this specification will be to enable standardization across industry empowering customers to make more informed choices in the software solutions that they pick.
2. This solves the problem of incompatible and opaque metrics that are _potentially_ gameable today making it difficult for the end-consumer to make a choice that is aligned with what they are looking f

[2021-07-13 07:58] atg-abhishek commented on #3
I agree with this @jawache - my inclination would be to make it as _close to reality_ as possible thus strengthening both its **applicability** and **actionability** - key characteristics if we want to trigger behaviour change on the end of the people who will be consuming this in the first place.

[2021-07-13 16:33] Henry-WattTime commented on #3
Yes, this is exactly the issue we are grappling with. We are also careful to frame it as a measuring the impact of creating that product, not the footprint of the organization. This post contains a discussion that might be a useful starting point: https://ghginstitute.org/2021/04/21/the-most-important-ghg-accounting-concept-you-may-not-have-heard-of-the-attributional-consequential-distinction/

An

[2021-07-14 09:53] jawache commented on #5
1.

This is linked very closely to what we want to be sensitive to.
- So energy consumption is one property (so we become sensitive to energy efficiency improvements)

- Real-time marginal carbon intensity (so we become sensitive to carbon aware computing strategies)

- Hardware is another property and I think a great proxy for this in the cloud space is "cost" (so we become sensitive to hardware

[2021-07-14 09:54] jawache commented on #4
I really like these answers, @atg-abhishek  would you consider creating a PR to add these to the spec?

[2021-07-14 10:05] jawache commented on #3
Great point @atg-abhishek. I really like that interpretation of consequential, it's about triggering a behaviour change that reduces a number.

This is a great explanation of something I've been grappling with for a while, the obsessive calculation of a number (attribution) vs. information you need in order to make good decisions (consequential).

I suppose that's also the thing about this number,

[2021-07-14 10:16] jawache opened #6 "Characteristic: Simple or Complex"
The more complexity in calculating the software carbon intensity, the fewer people and teams that will adopt it.

How do we make things simple so they are easy to adopt, and yet not so simple that they lose accurate information?

One direction could be in using tooling or modelling as much as possible in calculating the number (in the specification we need to steer clear of implementation details

[2021-07-14 10:24] jawache commented on #3
Oh and another point, does this mean that to be consequential we need to ignore the total carbon emissions?

E.g. For the energy space, the consequential emissions would be the marginal carbon intensity. If you were to consume one more kWh right now, this is the carbon emissions you would be responsible for emitting because this specific power plant would have to ramp up.

If we were to apply this

[2021-07-14 12:27] atg-abhishek commented on #4
Yes for sure! Happy to @jawache! Will get to it later in the week though 😊

[2021-07-14 12:31] atg-abhishek commented on #3
This resonates quite a bit with me @jawache !

Perhaps when we're thinking along these lines, the consideration is one of empowerment. That is, if we overburden the person's action with things that they can't control in the choice window that they have, we are disincentivizing behavior change because they will be paralyzed with information they can't act on.

[2021-07-14 12:36] atg-abhishek commented on #3
You know now that you mention this @jawache

It is not only more well-defined and **computable**, but also something that I believe will resonate more with the developers, PMs, etc. when they communicate this to their SLT and other stakeholders who are charged with utilizing these metrics in the first place.

[2021-07-15 11:59] jawache commented on #3
Is a "rate" always consequential?

I mean according to the meaning of the word, it will tell me what the consequences are of a decision.

If my software carbon intensity is 10g / user. I know my next user will add 10g of carbon, so that's consequential, right?

Also there is this non-linear/linear relationship question as well I think. For most software, will the carbon intensity be linear? E.g. w

[2021-07-15 15:00] atg-abhishek commented on #3
So you make an interesting point @jawache ,in fact, I'd be shocked if the rate wasn't non-linear since the underlying mechanics are. More than a rate then perhaps we should be thinking of a **model** given some expected traffic pattern. This way, the end consumer can clearly see points of inflection and explore re-architecting the solution if need be when they hit a part of the curve that exacerba

[2021-07-15 16:05] Henry-WattTime commented on #4
from Dan: benchmark so that you can compare your software against other software to see how it is doing

[2021-07-16 14:17] jawache opened #7 "Characteristic: Calculation of emissions should not netted off using offsets"
1g of carbon that is offset, is not equivalent to 1g of carbon that is not emitted.

If the focus of the standard is to drive behaviour change that reduces carbon emissions, that reduces the amount of carbon in our atmosphere, then allowing someone to improve their software carbon intensity number simply by purchasing an offset negates the goal.

The main challenge is that offsets are not the same

[2021-07-17 00:43] Hevia commented on #6
I think the biggest barrier in adoption of tooling is friction. How can carbon calculators be as frictionless to adopt into an existing codebase as possible?  If it adds additional complexity, I can imagine folks will not want to deal with it unless they deeply care about the cause.

I really like this idea!

I think [Website Carbon](https://www.websitecarbon.com/) accomplishes both points well. I

[2021-07-17 00:48] Hevia commented on #7
100% agreed, Offsets are finicky to quantify and as a lot of recent news reports have shown, might not be offsetting anything at all. Offsets could also be used to allow companies to further emit carbon without slashing their emissions.

[2021-07-19 16:36] rfsalomon commented on #7
Agree on that. Offsetting is a remediation action that simply transfers the issue somewhere else. In this sense, Carbon offsetting should not be part of any standard _per se_ although it is a natural result of how markets will deal with the published standards.

The goal of the standard should that of laying out the recommendations for _clean_ software development and not the rules for mitigating

[2021-07-19 17:28] rfsalomon commented on #6
It seems that there are separate domains, and they should be treated separately. On one side, a software execution standard (modelled after SpecInt?) that could show how carbon efficient a hardware/software combination is. This would provide a reliable index that would incentivize software developers to write the most efficient software possible for a hardware market that already exists while driv

[2021-07-19 18:01] Hevia commented on #7
This should be the quote we use to justify our decision, very succinct!

[2021-07-21 22:50] Henry-WattTime commented on #7
I wrote up this prohibition as a pull request.

[2021-07-22 11:10] atg-abhishek commented on #6
Low friction is going to be a key tenet for boosting adoption amongst developers @Hevia ! I talked about the Code Carbon tool and the state of tooling as it stands today a bit more here: [The current state of affairs and a roadmap for effective carbon-accounting tooling in AI](https://devblogs.microsoft.com/sustainable-software/the-current-state-of-affairs-and-a-roadmap-for-effective-carbon-accoun

[2021-07-22 11:13] atg-abhishek commented on #6
I like this distinction that you draw @rfsalomon - maybe we can acknowledge this explicitly in the document so that at least people can see that we considered it (and are open to solutions!).

[2021-07-22 15:59] atg-abhishek commented on #7
Incorporated in PR #14

[2021-07-22 15:59] #7 closed

[2021-07-22 16:20] atg-abhishek opened #17 "Include non-linearity in the limitations/discussions section"
So you make an interesting point @jawache ,in fact, I'd be shocked if the rate wasn't non-linear since the underlying mechanics are. More than a rate then perhaps we should be thinking of a **model** given some expected traffic pattern. This way, the end consumer can clearly see points of inflection and explore re-architecting the solution if need be when they hit a part of the curve that exacerba

[2021-07-22 16:21] atg-abhishek commented on #3
Remaining things to be addressed moved to Issue #17

[2021-07-22 16:21] #3 closed

[2021-07-22 16:22] atg-abhishek commented on #4
Incorporated through PR #16

[2021-07-22 16:22] #4 closed

[2021-07-23 13:26] mrchrisadams commented on #7
Hey folks, can I check a consequence of this?

Let's say you're a hosting provider, and you publish information like the _location based_ carbon intensity of electricity you use to power your infrastructure. Perhaps like Google do here:

https://github.com/GoogleCloudPlatform/region-carbon-info/blob/main/data/yearly/2019.csv

Or perhaps these folks who literally have their own dam powering their d

[2021-07-23 15:29] atg-abhishek commented on #7
This is certainly interesting @mrchrisadams , do you have any changes you'd suggest we make to the language included in the spec now to address your point?

[2021-07-23 18:03] jawache commented on #7
That is how at least I saw it. The lever we should avoid is "buying offsets" because then rather than reducing consumption or intensity, people will buy offsets. There are already plenty of incentives and measurement standards that encourage buying offsets, there are few incentives for reducing consumption/intensity.

This characteristic was inspired this is the definition of net-zero by the scien

[2021-07-24 12:50] mrchrisadams commented on #7
hi @atg-abhishek, @jawache

I'm pretty happy with this framing, and the spec of it already TBH, as the incentives it creates I think are still in the spirit of more sustainable software engineering. You are still rewarded for making software more efficient, and you are still rewarded for designing systems that integrate will into the underling grid.

For clarity, I read the incentives here as to e

[2021-07-25 15:22] Henry-WattTime commented on #7
Hello All,

Very complex discussion here, apologies for the delay in jumping in. Some
preliminary thoughts below. I'd also be delighted to discuss this in more
depth during our regular call.

I would still be inclined to exclude energy purchases from the calculation
as these purchases are not caused by electricity consumption. For example,
even though Google has procured renewable energy for many

[2021-07-28 07:54] WalterRobin commented on #7
Hi,
To complement what Asim was saying at the very beginning here is a [paper published recently in Nature](https://www.nature.com/articles/s41558-021-01061-2) that reminds us the assymetry between positive and negative emissions.

Hope it can provide scientific grounds to this spec.

Best,
Gauthier

[2021-07-29 09:36] srini1978 commented on #5
Are we also looking at SCI from a performance aspect ? By that, what I mean is: how do we provide recommendations around the inflection point where we know that gunning for higher software performance (additional hardware/testing cycles) correlates inversely with the amount of carbon released to achieve very little performance improvements. One of my thoughts is to provide guidance by dragging sus

[2021-07-29 16:34] Sealjay opened #19 "Term: Action"
@Henry-WattTime talked about an 'Action' being what the specification should measure, rather than an overall carbon footprint for an application. This makes sense, as I guess there are many different execution paths that a piece of software could take.

Do we have a definition for what an 'Action' is? Something we could put in https://github.com/Green-Software-Foundation/dictionary ?

I guess you

[2021-07-29 17:04] Sealjay opened #20 "Reference material"
@atg-abhishek talked about having a place to add additional reference and background material, like the background on fuel mix that @Henry-WattTime shared today.

That could be good, at least as reference material or external sources for new joiners to the GSF.

Do we have an appropriate place outside of the specification to reference this @seanmcilroy29  ? Maybe as an addendum to the dictionary,

[2021-08-01 14:17] jawache commented on #5
We should aim to separate "how we measure" from "recommendations to reduce" with SCI being just about "how we measure".

From experience, there will be many recommendations to reduce and we should aim to document them in the community WG. There will also be lots of arguments and disagreement, it's easier to agree on measurement than reduction.

The recommendations will need to be domain-specific (

[2021-08-01 14:20] jawache commented on #20
There are two places on the spec for some types of references already, see: https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#references

- Normative References - are like pre-reading, the things you MUST read and understand before you can understand the topics in this spec.
- Informative References

[2021-08-01 14:29] jawache commented on #6
I like the idea of low friction to entry, with increased accuracy the more effort you are willing to put in.

Anyone, **without much experience or training**, should be able to follow the instructions in the SCI spec to measure the carbon intensity of their piece of software.

We can build tools (in the Innovation WG) that automate this process, but the SCI spec shouldn't refer to them or depend o

[2021-08-01 14:51] Sealjay commented on #20
I'd seen those, but they seemed a little sparse compared to what we saw on the call! I guess we just need to do the work of adding the information

[2021-08-01 17:57] jawache opened #21 "Use Case: Measuring the total carbon emissions for Windows"
Getting a little bit more concrete here, I think Windows is an excellent use case to explore. Windows really shows the weakness in the GHG attributional model of emissions calculation.

In the GHG attributional model, the carbon emissions of Windows for Microsoft are JUST the carbon emissions from running Windows **at** Microsoft. I.e. we only count the electricity we bought to run Windows for Mic

[2021-08-01 18:17] jawache opened #22 "How to calculate carbon intensity, do we need 24/7 hourly buckets?"
The operational carbon emissions for a piece of software is the `energy consumption * carbon intensity`

[Carbon awareness](https://docs.microsoft.com/en-gb/learn/modules/sustainable-software-engineering-overview/5-carbon-intensity) is a pillar of green software, if an application does more when there are more renewables available and less when there are less then it's reduced real-world carbon em

[2021-08-02 18:11] jawache commented on #20
Yeah, what's there is from that template doc we cloned from. We haven't
added or updated anything in that section yet, I think if someone does the
first PR others will follow 😉

On Sun, 1 Aug 2021, 15:51 Chris Lloyd-Jones, ***@***.***>
wrote:

[2021-08-04 21:46] dtoakley opened #23 "Goals/criteria for a case study to validate the SCI standard"
There is an idea to validate the SCI standard using some existing software, to help us learn whether the standard is/isn't providing the intended value. If it isn't, the case study would hopefully help us identify gaps in the standard. Personally, I think we're still some way off from being able to do this effectively, however as we think about selecting a piece of software, I wanted to open a dis

[2021-08-05 10:11] atg-abhishek commented on #19
This is a great candidate for the dictionary @Sealjay , I'd say something else that we should consider here (cc @Henry-WattTime ) is that we split the `action` into different categories based on who the `agent` is going to be for that action. In particular, I'm thinking the `degree of freedom` and `ability to act` depends on a few factors:

1. The positional identity of the agent
2. Their depth of

[2021-08-05 10:17] atg-abhishek commented on #20
Actually @Sealjay, I was discussing this with @seanmcilroy29 and suggested that we create a "Welcome / Beginner's Guide to Green Computing" that _may_ sit outside as an `FAQ document` so that folks can quickly get caught up with major concepts that relate to sustainable computing. Thoughts @jawache ?

[2021-08-05 10:33] atg-abhishek commented on #21
This is fantastic @jawache - thank you for putting this together. We definitely have something concrete to walk through. I know you're not going to be able to make the meeting today so I'd love to save this for next week's meeting when you're back so that you can answer questions around this as we discuss this.

@buchananwp something like this would be ideal for discussing from an AzureML perspect

[2021-08-05 10:38] atg-abhishek commented on #6
Indeed @jawache we don't want to be too tied down to a specific implementation. Would there be a `badge` of some sort that could be offered (similar to something brought up in previous discussions) where we can say that tool X adheres to the SCI and that would help people wanting to utilize this know which tools to pick? This could also be manifested as a "suggested" list somewhere on the GSF reso

[2021-08-05 10:39] atg-abhishek commented on #17
@Henry-WattTime could you share the presentation that you had shown in last week's meeting? And any other literature that we could use to think more carefully about the non-linearity aspect of how plants are brought on board in the face of increasing demand for electricity?

[2021-08-05 10:43] atg-abhishek commented on #5
That's a great question @srini1978 - I agree with @jawache that given the remit of the SCI, it would be better to see how we can **improve** and **standardize** measurement so that people who want to make decisions and act (#19 ) on those measurements have the best possible information that allows them to make reductions as they see fit.

[2021-08-05 13:17] atg-abhishek commented on #23
This is great @dtoakley - I think you capture requirements for the case study from 1 and 2 quite well. I think once we have a better idea from running some case studies (based on the requirements that you outline here), we can start to think about 3. It should be something that we have in the back of our mind for sure but I feel we would need to have the SCI take a bit more of a concrete form befo

[2021-08-05 13:23] atg-abhishek commented on #22
Thank you for starting the discussion on this @jawache ! I think when thinking about the granularity for the calculation will mostly depend on the state of data that is made available right? Especially, for places where we don't have organizations like WattTime offering data at higher granularity, maybe the organizations are limited to just using coarser data.

Off the top of my head, for meaningf

[2021-08-05 15:50] atg-abhishek commented on #19
Vaughn: actions will change over time;
Sarah: the actions will depend on the ecosystem
Dan: actions are more in the realm of recommendations than in measurement

So maybe this is something that we can include in the dictionary but not in the SCI spec itself.

Siu: some design elements / decisions can be incorporated early in the lifecycle, to say reduce the memory footprint of the application

[2021-08-05 16:12] atg-abhishek commented on #6
Sarah: It would be good to find out what the roadblocks are - finding the right things to measure and how to measure them. Finding common ground for all different scenarios.
For own cloud providers and data centres, getting the data is hard.

Siu: It would appear that the innovation WG's work and our work will need to be aligned.

@seanmcilroy29 to create a new issue to talk about the `badge` thin

[2021-08-05 16:21] atg-abhishek commented on #23
Will: This reminds us of the ML Reproducibility checklist (@atg-abhishek to add in a link for this)

[2021-08-05 16:30] atg-abhishek commented on #22
Vaughn: Australia they have 5-minutes increment of pricing. EVs are going to be plugged in the evening, this will soar the demand and change the grid dynamics. (e.g. people finish work at 5pm and this kind of spike is possible)

Will: Calculations could likely be programmatic (e.g. trapezoidal rule for integration) https://numpy.org/doc/stable/reference/generated/numpy.trapz.html
That is the granu

[2021-08-10 16:36] seanmcilroy29 opened #24 "Badge for Conformance"
"Conformance" for the SCI
- Should there be different badges for different levels of conformance with the SCI?

[2021-08-11 09:00] seanmcilroy29 opened #25 "[AI] Support for Calculating carbon intensity"
See Issue #22
@buchananwp - To bring someone in from Microsoft with more formal experience in carbon measurement methodologies.

[2021-08-11 11:55] atg-abhishek commented on #23
Here is the link to the checklist: https://www.cs.mcgill.ca/~jpineau/ReproducibilityChecklist.pdf

[2021-08-11 18:00] buchananwp commented on #25
in-progress

[2021-08-11 20:58] buchananwp commented on #21
Scott Roscoff from Windows is already doing work in this space, and has agreed to join us. Sending an email to @seanmcilroy29 @dtoakley @atg-abhishek

[2021-08-11 21:13] buchananwp opened #26 "Use-Case: Measuring the total carbon emissions for a given ML workload (training/inference)"
AzureML is a great use case to explore, due to the high cost (including carbon) of ML workloads. They are discrete 'jobs' and can showcase the carbon intensity specification work.

[2021-08-11 21:18] buchananwp opened #27 "Regional Averages vs. Granular Carbon Intensity: What Is The Delta? (`I`)"
For carbon intensity calculations, is a regional average sufficient, or do we need the real-time carbon intensity of that electricity source?

**Question:** What do we gain/lose by accounting with these two methods?

e.g. for a given datacenter region, perhaps location-based carbon intensity

**Potential application:** carbon accounting to the real-time information to estimate the potential error

[2021-08-11 21:26] Henry-WattTime commented on #27
Could we use the data traditionally used by corporate carbon accounting, i.e. eGrid to show the transition from annual average to granular marginal?

[2021-08-12 02:02] Henry-WattTime commented on #22
I missed this discussion, but based on the comments, maybe we should say that you should use the finest granularity possible with the information you have? If you are only able to get monthly energy consumption and annual emissions factors, then you should use that to assess your software and make decisions about architecture and region. If you are able to get hourly or 5-minute data, you would th

[2021-08-12 02:12] Henry-WattTime commented on #19
I guess 'action' also comes down to why are you quantifying the emissions impact of your software. If you quantify it and then don't act on that information in some way, then the assessment is useless. If you are quantifying the emissions impact of the software to enable an action (whether that is load shifting, spatial shifting, more efficient hardware, etc), then the action is the key outcome of

[2021-08-12 02:15] Henry-WattTime commented on #17
This speaks to the dispatch stack from a price based standpoint, but is a good external resource for how wholesale markets are theoretically dispatched: https://www.iso-ne.com/about/what-we-do/in-depth/how-resources-are-selected-and-prices-are-set

[2021-08-12 02:19] Henry-WattTime commented on #6
This simplicity topic might also tie to the #22 issue discussion around granularity and timestep. Higher granularity/higher complexity might get a "higher" badge or compliance rating.

[2021-08-12 09:27] vaughanknight commented on #27
Question on the definition of a "region" for regional average, if it is a datacentre region that is facilitated by multiple datacentres, they can be 1000km apart with different energy sources - usually by design for redundancy purposes etc.

If we are talking geographical regions - what is the size?

Apologies if this is defined in the dictionary.  If not I may raise it for the dictionary

[2021-08-12 12:12] atg-abhishek commented on #27
This is a great question @buchananwp - a follow-up: if I think back again to the core purpose of the SCI, when thinking about the gain/loss, I'd perhaps think of crafting an experiment to figure out whether the higher granularity leads to more of a change in behavior? Ultimately, if we can change behavior even with non-granular data, then the impact would be the same. Though, as I write this I rea

[2021-08-12 12:15] atg-abhishek commented on #6
Good point @Henry-WattTime , this also probably ties to #27 in terms of the spatial granularity with again higher detail getting a "higher" badge #24

[2021-08-12 12:19] atg-abhishek commented on #22
I like the formulation that you make here @Henry-WattTime in that the SCI can prioritize the use of more fine-grained data but would that then fall under a recommendation? Would there be a way that we can make this a **structural quality** of the SCI?

[2021-08-12 12:21] atg-abhishek commented on #24
Indeed @Henry-WattTime - I think it almost needs something like a certificate-granting authority which could be a sub-WG of the Standards WG so that we can manage how that process manifests?

[2021-08-12 12:23] atg-abhishek commented on #26
@buchananwp can you also add in

1. the external presentation here for reference and
2. perhaps brief answers to #23

Thanks!

[2021-08-12 12:25] atg-abhishek commented on #21
Fantastic @buchananwp thank you for making it happen! @jawache should we then defer discussion of this issue till Scott is able to join the call as well? (@buchananwp do we know if he'll be joining today or next week?)

[2021-08-12 12:27] atg-abhishek commented on #25
We'll have more news on this over the next week as we reach out to some folks within Microsoft. If there are others in the broader community that we could tap into / speak with / invite, please feel free to share suggestions folks!

[2021-08-12 14:04] jawache commented on #27
What is the granularity of data a team would use to make their application "carbon aware"? We have to snap to the same.

[2021-08-12 14:09] jawache commented on #24
This is a very valid point and something we defo should explore, it would be outside the scope of the Standards WG through I think, possibly under Trademark depending on how we want to structure it? I would not mention it in the spec.

[2021-08-12 14:32] jawache commented on #23
For (2) I think it all boils down to the 3 characteristics of the SCI. It should be sensitive to energy efficiency, carbon awareness and hardware efficiency. As long as we ensure that remains true then (2) will be true since everything a software engineer can do falls into one of those three buckets. If an engineer makes their app more carbon aware, makes it do more when there are more renewables

[2021-08-12 14:43] jawache commented on #22
I think this might be a chicken and the egg question.

If your application **is not** carbon aware, then it doesn't matter what granularity of CI you use since your app doesn't change at all as that CI number changes, so it can be a yearly average.

If your application **is** carbon aware, then you will already have fine-grained (<= 1hr) granularity of carbon intensity data, since without that you

[2021-08-12 15:35] Sealjay commented on #21
Might be interesting to add DAPR or kind of multi-cloud abstraction - I can see those layers adding overhead, but also an agnostic framework for instrumenting for telemetry.

[2021-08-12 15:40] Sealjay commented on #19
That makes sense. I was thinking of action differently - action in terms of the activity the software is undertaking. E.g. if I am running Microsoft Teams, presumably having a video call is a more carbon-intensive action than reading and writing messages. Therefore different activities or use cases for the software (this is where the teams analogy falls over) could be scheduled to run intelligentl

[2021-08-12 15:44] Sealjay commented on #19
@jawache mentioned under #21 the idea of all actions falling into one of 3 categories - I think they were 1. using less energy, using different hardware, or being better scheduled

[2021-08-12 15:46] Sealjay opened #29 "Term: Operation/Activity"
Following #19  and the discussion on #21 - if Action is the Action that someone takes, then we need to define the Activities or the Operations being instrumented/measured in order to measure and quantify 'C'; as C will be variable depending on what is being done with the software.

[2021-08-12 16:05] atg-abhishek commented on #21
Asim: Some things might not include hardware, in some places hardware might not be considered at all.

Abhishek: The actions taken by the people designing TF would be different from those who are using TF as a service.

Will: it’s a taxonomy of decisions, each with a different sphere of influence

Sara: you also want the developers who are using the services to use them smartly where you might hav

[2021-08-12 16:07] atg-abhishek commented on #21
Taylor: people understand the negative consequences of 'emissions' more than 'kWh'
Abhishek:  this might be very useful from a human-understandability to make more sense to the people

[2021-08-12 16:08] Sealjay commented on #21
Also mentioned - we may want to talk about the actions that are possible; and potentially support those in a future version - but to my mind, anything measured as a KPI still drives change. What is measured drives behaviour change. That’s not to say actions shouldn’t be recommended, but I think the measuring in and of itself is useful - and still has a point.

[2021-08-12 16:17] atg-abhishek commented on #26
Will: Using a lifecycle methodology thinking about training, inference, etc. will help

Vaughn: where does the inference happen will also help - embodied cost in the device that is on the edge vs. having to go to the cloud

Abhishek: you can cache frequently used results rather than doing fresh inferences every time

Will: Triton better packs inferences on the GPU which helps to get more in terms

[2021-08-12 16:54] vaughanknight opened #30 "Do we have someone that works with (any) Government/regulators or those that work closely with gov/reg on policy engaged here?"
Do we have someone that works with (any) Government/regulators or those that work closely with gov/reg on policy engaged here?  I think it would be good to get a perspective from the other side, and at some point understanding what would incentivise and drive adoption (which would then hand over to the community WG)

I've worked over the last few years with people across these groups that work on

[2021-08-13 03:38] atg-abhishek commented on #6
Yes I think so @jawache 🔥

[2021-08-13 10:56] mrchrisadams commented on #24
Hey folk, my understanding was that this is why there is a trademark group - you use trademark to exert some degree of control over how people might use a name, or marque, or logo.

There's an initial (tiny) PR here, with some examples of how people use trademark too. I'll add the links to Microsoft's own guidance, as they use a combination of trademark law and specific contracts with partners.

T

[2021-08-13 21:47] Henry-WattTime commented on #22
I think there might be a case where  you can make meaningful 'carbon aware' decisions using annual emissions factors. For example, you could have no timing flexibility in your service, but you could decide what hardware (efficiency) or location (also carbon aware?) to run on. Both of those affect the total emissions of your software, but can be optimized.

Also, I assume you mean annual marginal o

[2021-08-13 23:07] Henry-WattTime commented on #22
This is making me think of the formula that might be effective (stealing from @buchananwp in pr #28 ):

C = O + E
O = e * i
E = tbd?

Where:
C = Total amount of carbon the software is emitting over a time period.
O = Operational Emissions
E = Embodied Emissions

e = energy measurement
i = Location-based marginal carbon intensity measurement

Taking the things we have discussed thus far, to change

[2021-08-16 21:45] jawache commented on #22
That's a great point about yearly averages still being useful for region shifting, hadn't considered that, makes a lot of sense.

I am talking about marginal averages, yes.

[2021-08-16 22:46] jawache commented on #30
There are a few people we've been talking to and I totally agree. I think we are close to getting to a point with the spec where it might help to bring someone in, I'd prefer to get a little more concrete on the details through one or two worked examples so we have some meat to the discussion and tools to make sure everyone is on the same page.

[2021-08-16 22:53] jawache commented on #5
I totally agree carbon awareness can be the first stepping stone into this domain, least effort but also the least risk and I think it's the risk that has most people concerned.

The challenge is that the way we calculate carbon emissions right now with the GHG protocol doesn't take into account carbon awareness. So it's hard to get investment in this space, most investment going into efforts that

[2021-08-17 15:24] Sealjay commented on #30
I'm with you @vaughanknight  - I've worked with and have contacts, but not actively speaking to anyone right now :)

[2021-08-17 15:28] Sealjay commented on #30
We could speak to some of the other groups at the Linux Foundation that work with those groups too perhaps?
https://github.com/finos/open-regtech-sig - Regulation SIG
And more climate related-
https://www.os-climate.org/open-source-and-the-linux-foundation/ or https://wiki.hyperledger.org/display/CASIG/Climate+Action+and+Accounting+SIG+Home

[2021-08-18 14:53] jawache commented on #27
The words "regional average" threw me a little. I think after reflection the discussion is about the time granularity right? What's the difference between using yearly, monthly, daily, hourly, real-time (as fast as possible) marginal carbon intensity data?

Based on the conversations in https://github.com/Green-Software-Foundation/software_carbon_intensity/issues/22 I know understand that

- If yo

[2021-08-18 15:23] Henry-WattTime commented on #27
@jawache, yes fine grained real-time data is needed for time-shifting, but region shifting can still be done if you only have annual/monthly/daily data. I was thinking that if someone has the capability to shift locations but no granular data, the standard should support/allow that?

[2021-08-18 15:34] Henry-WattTime commented on #27
@vaughanknight I (at WattTime) use 'region' to refer to grid regions. We use grid regions that align with grid control areas (which may or may not follow political, utility or other boundaries) often called Balancing Authorities or Independent System Operators in the US. Some data sources actually measure emissions at the nodal level. If a data center regions straddles data centers in multiple gri

[2021-08-18 17:18] buchananwp opened #31 "Embodied Carbon Needs Detail"
Flagging this to work with @arexub (Alex Bitukov) from MSFT around the latest embodied work.

[2021-08-18 17:28] buchananwp opened #32 "Actions To Reduce Carbon"
- use less electricity
- use electricity more intelligently
- use less hardware

Flagging this as future work item.  @jawache can elucidate when we're ready

[2021-08-18 17:31] buchananwp opened #33 "Disambiguate 'Marginal'"
We'll need to update the SCI on terms & methodology

- Currently, we have 'R' which is a baseline, also represneting 'marginal' (R)
- We've also got 'location-based marginal carbon intensity (I)

[2021-08-18 17:33] buchananwp opened #34 "Improve Readability of Specification Methodology"
1. Propose LaTex for our equation to improve readability.

https://www.overleaf.com/learn/how-to/Writing_Markdown_in_LaTeX_Documents
https://stackoverflow.com/questions/11256433/how-to-show-math-equations-in-general-githubs-markdownnot-githubs-blog

2. Collapsible markdown:
https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

3. Improve equation readibility
I'd like to get it

[2021-08-18 17:35] buchananwp commented on #25
Propose we retitle this as 'Carbon Methodology Support'?

@atg-abhishek and I have two folks onboarding now :)

[2021-08-18 17:41] buchananwp opened #35 "Carbon Savings Quantification: Counterfactual & Delta"
Flagging this as a high-level area to address: When we implement carbon-savings methodologies, **how do we track/report it?** This should be part of SCI equation itself, and will lay out clearly how you capture, quantify, and report the SCI savings due to your GSE Action. This metric is used to measure the success of Green Software Actions/practices.

By measuring SCI score deltas for different ch

[2021-08-18 19:06] buchananwp opened #36 "Standardize Units For SCI"
Propose we standardize around units for reporting & methodology (e.g Joules/kWh/ (gCO2eq/kWh))

The carbon intensity of electricity is a measure of how much carbon (CO2eq) emissions are produced per kilowatt-hour (kWh) of electricity consumed, for a standard unit of gCO2eq/kWh.

Let's use a good _metric_ measurement if possible!

Some immediate thoughts:

- Energy (Joules? kWh?)
- Location-based c

[2021-08-19 06:13] TaylorPrewitt commented on #35
Keeping things in proportions, you can get "Over X predictions made, users on average reduced their carbon footprint by Z %" without needing to store any run/workspace metrics supplied from the client.  This way impact can be tracked and compliance maintained.  By performing counterfactual checks on CI without energy metrics, you forego the hard 'lbs of carbon saved' value, but do bypass problemat

[2021-08-19 08:18] vaughanknight commented on #30
Yep.  I have a few opportunities and may talk to some that I'm across to see if it's of interest, or who they think may find it of interest.

[2021-08-19 13:45] atg-abhishek commented on #30
Thank you for bringing this up @vaughanknight and agreed with @jawache that once we have a bit more of a `v0.75+` we can move towards bringing some of those folks in to get a regulatory perspective that will help drive the adoption of this. I'd like to leave this issue open for others who have any useful comments / contacts that they'd like to contribute **async** over here.

[2021-08-19 13:46] atg-abhishek commented on #30
And sounds like a plan @seanmcilroy29 - we can definitely cross-collaborate across sister foundations. If there are relevant contacts there, we can capture them on this thread as well. Thanks!

[2021-08-19 13:49] atg-abhishek commented on #35
@TaylorPrewitt could you expand a bit more on the specific compliance and data storage issues aspect?

[2021-08-19 13:52] atg-abhishek commented on #36
Thanks for bringing this up @buchananwp - I think the more `international` units we use the better, i.e. avoiding the use of lbs and other non-metric units would be preferable to gain global traction.

Also, @buchananwp can you make a separate issue for defining MOER for the GSF Dictionary? Thanks!

[2021-08-19 13:54] atg-abhishek commented on #34
Love this idea @buchananwp - especially as we add more formulae, it will be great to make all PRs and contributions adhere to this to have readability baked in rather than having to go in and make edits later on.

[2021-08-19 13:56] atg-abhishek commented on #25
Yes @buchananwp that sounds good, please feel free to do so and we can track other external expertise requests here as well. Thanks!

[2021-08-19 13:57] atg-abhishek commented on #33
@buchananwp thank you for pointing that out. In addition, I've added the `dictionary` tag since these are terms that need to be inserted in there as well in case you'd like to take a stab at them?

[2021-08-19 13:59] atg-abhishek commented on #32
I think this ties in quite well to the https://principles.green right @buchananwp @jawache ? Maybe we can make reference to that explicitly in the SCI as well?

[2021-08-19 14:03] atg-abhishek commented on #31
Would be great to have some more details from you @arexub so that we can bring it up for discussion once we have a bit more substantial detail and then explore how we can account for that in the SCI.

[2021-08-19 14:07] atg-abhishek commented on #24
Sounds good and agreed @jawache and @mrchrisadams - I'll be joining in on the TWG as well so that there is visibility. I'll close this issue so that we can have discussions on this in the TWG repo.

[2021-08-19 14:07] #24 closed

[2021-08-19 14:17] atg-abhishek commented on #27
To the point of coarse data and time-shifting, for batch jobs like accounting jobs, or other housekeeping and admin functions, those that have flexibility could still benefit from it @jawache ?

[2021-08-19 14:20] atg-abhishek commented on #27
Actually @jawache maybe we want to provide them with the incentive to `snap out` of the way they are functioning and the granularity of data that they are using. Specifically, it might be something along the lines of them opting to go coarse for ease when more granular data is available in which case a _nudge_ somehow from the SCI can move them towards more granular data use and _presumably_ more

[2021-08-19 14:23] atg-abhishek commented on #5
@vaughanknight  can you open a new issue to track and discuss this?

I really like this idea @jawache in the sense that there are then two levers for enacting change reducing the reasons that someone can say that they don't have avenues for improving their carbon stance.

[2021-08-19 14:27] atg-abhishek commented on #6
Have you had a chance to work on this @jawache ?

[2021-08-19 14:28] atg-abhishek commented on #26
@buchananwp what was the next step that we needed on this?

[2021-08-19 14:29] atg-abhishek commented on #19
Would you like to make a PR based on this information @Sealjay ?

[2021-08-19 14:32] atg-abhishek commented on #21
What is the next step that we want to take here @jawache ? Should we continue to seek some more details here and then revisit this when we reach a bit more concreteness in the SCI? I think the discussions here have already helped to shape a bit the SCI and the direction that it is taking so this has been very useful!!

[2021-08-19 15:12] jawache commented on #27
Thanks for the clarification. Ok, I understand much better now.

My current thinking then is that given that you can still be carbon aware with yearly averages, and yearly averages are freely available then that should be the baseline. We can encourage people to use more granular data if they have access to it, but since it costs money to get granular data and for some regions it isn't available,

[2021-08-19 15:14] jawache commented on #34
@seanmcilroy29 do you happen to know if the build tool that LF uses to turn these specs into docs uses latex?

[2021-08-19 15:15] jawache commented on #32
Hmm we can put it in the normative references section at the top.

[2021-08-19 15:18] atg-abhishek commented on #27
Yup there is a very consistent use of the terms like "SHALL" as mandated by the LF guidelines that we can leverage :)

[2021-08-19 15:23] jawache commented on #31
This is a rabbit hole, you can spend 30 mins on this or a whole year :) I think we need to **insist** on a very simple method that everyone can do and **encourage** a more involved method that only some orgs will be able to invest in.

Level one of this I believe should be cost-based, most people use a cost-based multiplier most carbon accounting tooling uses a cost-based multiplier. They are dire

[2021-08-19 15:29] jawache commented on #21
I'm going to propose in today's meeting that we create a rubric for evaluating submissions.  I don't think we need to go overboard just a selection of uniquely different application domains. Just to keep us honest, something that works for the ML world might make no sense in the Windows world, the Web world. Let's just run through a list together and use it as an evaluation tool.

Later on I think

[2021-08-19 15:59] Sealjay commented on #19
@atg-abhishek, I'm willing to give it a go! Sounds related to #32 as well.

[2021-08-19 16:10] atg-abhishek commented on #35
Thinking about C and CI can also help us think more about [Jevon's Paradox](https://en.wikipedia.org/wiki/Jevons_paradox#:~:text=In%20economics%2C%20the%20Jevons%20paradox,rises%20due%20to%20increasing%20demand.)

[2021-08-19 16:11] vaughanknight opened #37 "Defining Baselines (`R`)"
In today's WG meeting we discussed defining possible definitions of R, being the baseline as a denominator.  This issue is to create a thread and discussion to capture this.

Some items discussed for example:
* per user
* per workstation
* per install
* per $

We also discussed creating a "Recommended baselines" or "Accepted baselines" and a "Not accepted baselines".

I will leave it there for now

[2021-08-19 16:19] buchananwp opened #38 "Baseline: Do we expose (`C`) AND (`CI`)?"
C = total carbon emissions per piece of software
CI = carbon emissions per unit baseline

This is a root issue per @Henry-WattTime. Some open questions around:

- What do we do if only one piece is available?
- What if C goes up, but CI goes own?

[2021-08-19 16:20] Sealjay commented on #34
Following the stack overflow reference, it looks like there's a workaround to embed latex in markdown @buchananwp - https://gist.github.com/a-rodin/fef3f543412d6e1ec5b6cf55bf197d7b
I'm happy to have a stab for a PR to put the equation into latex, and then collapse the definitions?

[2021-08-19 16:26] atg-abhishek commented on #36
g CO2/kWh seems to be the most comfortable unit for everyone, and Will points out that we can use scientific notation as we need larger numbers.

@jawache will include this in a PR

[2021-08-19 16:26] #36 closed

[2021-08-19 21:24] buchananwp opened #40 "Methodology For Energy Consumption (`E`)"
This is a can of worms, but I'm flagging this so we can puzzle through fun questions such as how we account for....

- Shared hardware? @SaraEmilyBergman has a great point here
- idle load?
- Utilization/energy consumption relationship
- Acceptable ways to measure and report energy consumption

All software-based energy measurement contains errors. In terms of methodology, we have two approaches t

[2021-08-20 00:08] TaylorPrewitt commented on #35
To get a counterfactual mass value for carbon emitted, the energy profile from the client's run as a result of a smart scheduler would need to be acquired.  From my perspective, this can happen via a couple different ways, 1) Client returns to the tool after the run has been scheduled and executed to submit an energy profile.  2) The client workspace auth creds are stored such that the tool can au

[2021-08-20 00:13] TaylorPrewitt commented on #35
This does start branching into the domain of Issue #40

[2021-08-20 07:21] SaraEmilyBergman commented on #40
A can of worms indeed but a very interesting one! I have previously written a little of this topic on [Microsoft's SSE blog](https://devblogs.microsoft.com/sustainable-software/how-to-measure-the-power-consumption-of-your-backend-service/#what-if-i-run-in-the-cloud), especially on how one can guesstimate without having insights into energy metrics.
I agree with software-based metrics not being an

[2021-08-20 16:58] buchananwp opened #41 "Accepted Methodology/Data Providers For Marginal Carbon Intensity"
I can think of five data providers for location-based marginal carbon intensity. This opens up some questions:

- How do we account for discrepancies?
- Is it in scope of the SCI to define acceptable sources fo for this information?
- Do we require these data sources meet a given standard that someone else has defined? (e.g. World Resources Institute, RMI, GHG)

**Data providers:**
1.	WattTime ( @

[2021-08-21 04:20] atg-abhishek commented on #31
@buchananwp can transfer to @arexub once he joins?

[2021-08-21 10:28] jawache commented on #41
This is a great question, in terms of specific language in the SCI we should only provide the requirements and constraints of the data source, and we should also ensure I think that our requirements and constraints allow a free source of data, to implement the SCI shouldn't require purchasing data otherwise it greatly limits adoption and might be seen as a commercial play.

- So one requirement is

[2021-08-21 10:58] jawache commented on #40
This is a great question, we need to help people trying to implement the SCI decide how to calculate their `E`. The SCI should define just the requirements and constraints of `E` and allow anyone implementing the SCI the flexibility apply it to their probably very unique use case and situation. I.e. steering clear of implementation details is a safe thing to do in terms of the spec.

- One require

[2021-08-21 11:08] jawache commented on #38
This is where we can perhaps introduce the SHALL and SHOULD concepts.

SHALL is mandatory to implement the spec, if you want to be certified, you have to meet all the SHALLs.

SHOULD is a guideline, we recommend you do this but if you don't you can still say you are adhering to the SCI.

So it's possible to say, "you SHALL calculate and report your `CI` number. If it's possible for you to do so th

[2021-08-21 11:21] jawache commented on #37
@atg-abhishek I changed this issue from `problem-definition` to `requirements-constraints` (I think I must have uber perms in the GH org!) I see this as a discussion about the boundaries of the selection of `R` in the equation.

The challenge is this. If we are too prescriptive in the list of allowed `R` then we risk alienating people and use cases that need a broader definition. If we leave it as

[2021-08-21 11:29] jawache commented on #35
This is an interesting use case, I suspect it's only really possible right now with certain specific types of cloud workloads (ML) and also it is only really useful when talking about carbon awareness.

It also only makes sense in the context of an "action" and not in the context of a "product". So you could calculate the counterfactual for taking the action of delaying a machine learning run 1 hr

[2021-08-21 11:31] jawache commented on #33
I've only seen this in reference to `I` and not `R`. Is this issue more about adding a definition of "Marginal" somewhere in our spec, dictionary etc...?

[2021-08-21 11:33] jawache commented on #32
Actually reading the definition of normative vs. informative, it should be in informative references. Normative apparently should be other specs that MUST be adhered to before the SCI spec can be said to be met.

[2021-08-22 00:00] jawache commented on #19
Ahh, @Sealjay I've created a PR already for #32 covering the core concepts I mentioned in the call: https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/42

[2021-08-24 10:10] Sealjay commented on #19
No worries @jawache ! These are for the dictionary, rather than the spec - I can reduce the dictionary information if the actions are going into the spec

[2021-08-25 15:29] buchananwp opened #45 "What Scope? (1/2/3)"
It looks like we've got to scope this (heh) and fit the SCI within standard scope 1/2/3 methodologies. Flagging this to revisit

[2021-08-26 10:29] Sealjay opened #48 "Review LF build tools and provide recommendations"
Following #39 - identify LF build tools, and requirements we need to adhere to, including:

- Folder structure
- Templating requirements
- Deployment - GH actions, CICD, basis of the tech

Provide recommendations

[2021-08-26 11:43] atg-abhishek opened #56 "Defining software boundaries"
For anybody using the SCI, we should provide a set of software boundaries for different types of applications.

[2021-08-26 12:10] atg-abhishek opened #60 "READ THIS FIRST!"
(content coming soon)

[2021-08-26 15:50] buchananwp opened #64 "Approved PRs should automatically merge"
@Sealjay suggested approved PRs should merge automatically after a few days, which will bypass permissions issues.

[2021-09-01 14:16] atg-abhishek commented on #64
So @buchananwp @Sealjay that is possible through the R&A process. We just need to tag the PR after it has been approved with one of the R&A tags and then we can follow that process. cc @Henry-WattTime does that square with what we had discussed as well?

[2021-09-02 11:32] jawache commented on #31
I was reminded of this article by Benjamin Davy: https://medium.com/teads-engineering/evaluating-the-carbon-footprint-of-a-software-platform-hosted-in-the-cloud-e716e14e060c

He goes into a lot of detail about how to calculate the embodied carbon emissions. To cut a long story short:

1. Use cost as a proxy, it's fast and is directionally accurate at least. A simple solution here would be to creat

[2021-09-02 13:52] SaraEmilyBergman commented on #38
I agree with your point Asim, I see how reporting `C` can be hard for many. But I still want to say that by only enforcing `CI` to be reported, we are potentially opening up for people make their number look better than they are. It is possible to artificially inflate the baseline unit, by changing your implementation, without affecting `C` much, but making it look like `CI` has improved.

This ge

[2021-09-02 14:51] Sealjay commented on #64
Is there a way to unlock labels so that we can apply an R&A tag, or request that to be done?

[2021-09-02 16:11] atg-abhishek commented on #40
**From the meeting:**

@jawache : we want to stay away from implementation recommendations; if there are 2 ways to implement the methodology then we are _safe_ from patent issues. there is direct measurement through the meter, or everything else is a model? if we assume everything else is a model, do we want to have some requirements for the model?

@Henry-WattTime : you should include everything

[2021-09-02 16:15] Henry-WattTime commented on #56
Supporting infrastructure may include: (Compute, Storage, Networking, Memory, Monitoring, Idle Machines)

[2021-09-02 16:15] atg-abhishek commented on #56
Sarah Hsu had mentioned that monitoring frequency could be reduced as a part of the impact of the supporting infrastructure

[2021-09-02 16:16] vaughanknight commented on #56
Some notes for discussion later this week so I don't forget.

Monitoring, logging, scanning, testing, operations, backup, and other supporting infrastructure and systems.

[2021-09-02 16:17] navveenb commented on #56
We can define like supporting infrastructure (network, edge, storage, monitoring, logs ..) + runtime + idle/avg consumption (based on server/hardware types)

[2021-09-02 16:23] atg-abhishek commented on #38
So we can start with saying that you MUST report the `CI` and you SHOULD report the `C` but if you can't report the `C` you MUST provide a reason for why not (business secrets are a legitimate reason)

[2021-09-02 16:23] atg-abhishek commented on #38
we discussed the possibility of ratcheting up requirements over time

[2021-09-03 02:40] atg-abhishek commented on #64
@Sealjay yes we are now going to start using the R&A labels - they've been created in the Dictionary and SCI repos. As for whether they can be "unlocked", that is a question for @seanmcilroy29. For the time being you can take a look through the available labels and tag me in the comment and I can apply the appropriate label for you. In the available labels, you will notice a number after the `-` w

[2021-09-03 02:41] atg-abhishek commented on #64
@seanmcilroy29 question for you: is there a way (through GH Actions or otherwise) that when we apply those specific labels that I'm talking about (the ones that have a `-` in their name with a number) that it triggers a notification to our `standards-wg` mailing list that an item has entered the R&A phase and then it closes inputs based after a set time as determined by the number in that tag?

[2021-09-09 12:12] atg-abhishek commented on #37
@jawache maybe I can move this into the SCI value reporting PR #73 that I've created, thoughts?

[2021-09-09 12:16] #17 closed

[2021-09-09 12:17] atg-abhishek commented on #31
This is a great article @jawache and I think we can definitely take some cues from it and based on the discussion today, we can add some details about this in our SCI spec.

[2021-09-09 12:19] atg-abhishek commented on #33
Closing since this has now been addressed and can be resurfaced if during the review of the spec any inconsistencies are revealed.

[2021-09-09 12:19] #33 closed

[2021-09-09 12:20] atg-abhishek commented on #34
completed as per #39

[2021-09-09 12:20] #34 closed

[2021-09-09 12:22] atg-abhishek commented on #35
@buchananwp does #46 now sufficiently address this?

[2021-09-09 15:37] #56 closed

[2021-09-09 15:40] #40 closed

[2021-09-09 15:43] #38 closed

[2021-09-09 16:08] buchananwp commented on #31
- [ ] incorporate lifespan (e.g. how do we amortize embodied carbon?) From our studies, it's shown that lifespan can be highly variable and hard to estimate.

[2021-09-13 04:54] vaughanknight opened #78 "Adding Building, Training, Redundancy and Failover to the boundary list (and fixed a formatting issue)"
Building, training, were not in the list and I think they are important to call out specifically.  Some systems have the majority of their carbon footprint is in the building/training vs operations.

Failover I feel is an ommision because we talk about "idle servers", but that may only be looked at in the scale unit.  Sometimes these are also not idle, taking 1% of load to ensure they are working

[2021-09-13 04:54] vaughanknight commented on #78
I should note, I can pick this up because I made the change.  I don't have permissions to assign it as of now.

[2021-09-13 17:35] Sealjay commented on #64
There are github actions to auto-merge, and then github actions to send emails to the mailing list.

- Email when a label is applied: https://github.com/marketplace/actions/issue-label-notifier
- See how long a label has been applied: https://github.com/marketplace/actions/label-timer
- Add a label after 7 days (or whatever the RNA period is)
- Auto-merge pull request when label is applied: https:

[2021-09-14 02:37] atg-abhishek commented on #64
Sweet!! This is awesome @Sealjay  - thank you so much for investigating this!

[2021-09-14 16:55] atg-abhishek commented on #64
Maybe there's some useful stuff here too? https://github.com/sdras/awesome-actions

[2021-09-15 07:09] atg-abhishek opened #81 "Creating a citation for the SCI"
I think it will be a good idea to add a citation file to the SCI repo as people start to reference the SCI once it is made public.

[2021-09-16 16:08] #27 closed

[2021-09-16 16:11] #37 closed

[2021-09-16 16:22] #78 closed

[2021-09-16 16:27] #81 closed

[2021-09-16 16:27] Sealjay opened #83 "Contributing to the SCI should invite a user to add to the citation file"
Raised during discussion on #82

[2021-09-18 11:19] atg-abhishek commented on #31
Would the preset list that we have in the SCI be a good venue for this @navveenb ?

[2021-09-18 11:20] atg-abhishek commented on #83
Also related to #48

[2021-09-21 07:49] vaughanknight commented on #31
@navveenb Agree on cost not being a good measure.  Cloud costs or on prem costs can vary based simply on exchange rate, and internal business factors, price increases and competitor pressure.  The costs of items in a data centre, or the data centre itself, can be a lot more expensive because of levels of physical security, legislation, downside risk etc, and have little to do with the hardware its

[2021-09-21 08:05] vaughanknight commented on #31
100% agree.  We should also have guidance on the site as to other references that exist.  Some already do exist but this will evolve over time as the world gets a bit wiser in relation to supply chain and understands the full emissions impact.

@buchananwp One area we need to make note of is I assume (and this is a big assumption) that carbon offsets in the supply chain of the hardware is included

[2021-09-21 10:24] navveenb commented on #31
@atg-abhishek  can you point me to the preset list values, i only see a place holder in the spec

[2021-09-23 07:40] atg-abhishek opened #86 "Update the citation file with WG participants"
While #83 gets resolved (if not before release of SCIv1) then we should update the citation file manually with the names of WG participants. Based on point raised by @vaughanknight in #82

[2021-09-23 07:43] atg-abhishek commented on #31
@vaughanknight re:

I don't think we want to include the offsets in any part of the SCI calculation unless I'm mistaken on what this is referring to?

[2021-09-23 07:44] atg-abhishek commented on #31
@navveenb yes we only have a placeholder for now and it needs to be populated

[2021-09-23 13:23] jawache commented on #86
Technically _everyone_ in the Foundation will be involved in the creation of this spec :) The process is by design so no one after the fact can say, "Well, I didn't agree to that!". I.e. once this spec goes into consistency review then everyone in the Foundation has a chance to comment and object and no-comment/no-objection is still counted as activity/contribution.

[2021-09-23 13:28] jawache commented on #31
@navveenb After seeing some of the work by Benjamin Davy I'm now leaning more towards a very simple model for estimating embodied emissions based on some coefficients for high level components rather than cost so happy to move away from cost as a proxy.

I'm thinking more and more that to support the SCI the Innovation WG needs to launch the "SCI Open Data" project, to make all the data needed to

[2021-09-23 13:50] atg-abhishek commented on #31
Agreed on this!

On Thu, Sep 23, 2021, 6:58 PM Asim Hussain ***@***.***> wrote:

[2021-09-23 13:51] atg-abhishek commented on #86
Oh I see, maybe something to discuss more then on how to best reflect that
while also recognizing the work of the WG?

On Thu, Sep 23, 2021, 6:53 PM Asim Hussain ***@***.***> wrote:

[2021-09-23 15:10] navveenb commented on #31
Agreed @jawache , we should stay away from cost as it could be misleading..  I saw some of the inputs for SCI Open Data as part of SCI Core Library innovation project, which can be extended and make this data available for all.

[2021-09-23 16:03] buchananwp opened #87 "Emissions Boundaries & Scope For SCI Equation"
Ben Davy showed a compelling visualization for his formula that outlines scope. I'm borrowing from [his blog post ](https://medium.com/teads-engineering/evaluating-the-carbon-footprint-of-a-software-platform-hosted-in-the-cloud-e716e14e060c) to propose that we do something similar in our SCI for clarity:

![image](https://user-images.githubusercontent.com/8934290/134542955-3fc86efd-9891-4930-b8c5-

[2021-09-26 03:51] #87 closed

[2021-09-27 13:12] atg-abhishek commented on #64
@seanmcilroy29 any updates on if any of these worked? Thanks!

[2021-09-27 13:14] atg-abhishek commented on #48
@Sealjay @seanmcilroy29 do we want to keep this issue open? Maybe we can combine this and #64, #83 all under one place?

[2021-09-27 13:15] atg-abhishek commented on #35
@buchananwp can we close this issue out or is there something from this that still needs to be discussed? Thanks!

[2021-09-27 13:16] Sealjay commented on #48
Lets merge into one @atg-abhishek  - this one seems the most all encompassing?

[2021-09-27 13:17] Sealjay commented on #64
@seanmcilroy29 @atg-abhishek  - do you want me to set this up on my own repo to test it out, then create a pull request? I'm happy to configure.

[2021-09-27 13:20] atg-abhishek commented on #31
reminder for @jawache @Henry-WattTime and others to add in thoughts based on the call from last week with Benjamin Davy. Thanks!

[2021-09-27 13:23] atg-abhishek opened #89 "Community contributions determination"
More info @jawache  - http://bit.ly/across-workshop-community-pitch - This is related to a bigger issue, around how to identify contributors - understanding explicitly that source control is not the full picture of open source, as it excludes governance, decision making, and consensus as you mentioned. https://citation-file-format.github.io/ - this file is one approach to recognize contributors wi

[2021-09-27 13:24] #89 closed

[2021-09-27 13:27] atg-abhishek commented on #64
Sounds good to me if that is part of the approved workflow @seanmcilroy29 ?

[2021-09-27 13:29] atg-abhishek commented on #64
Consolidating all discussions under #48  and closing this one

[2021-09-27 13:29] #64 closed

[2021-09-27 13:30] atg-abhishek commented on #48
Sounds good @Sealjay - I've closed them and left a comment indicating that all discussions on that can be carried out here for ease of tracking and implementation. Thanks!

[2021-09-27 14:02] seanmcilroy29 commented on #48
@Sealjay - once you set this up in your repo, could we have a call to review the flow process, as only the Working Group Chair(s) can merge agreed PRs.

[2021-09-27 17:39] buchananwp commented on #35
Closing, we addressed it in 'carbon delta' section of the spec

[2021-09-27 17:39] #35 closed

[2021-09-27 20:52] Henry-WattTime commented on #31
Based on the presentation from Benjamin, I think we landed on:

(Total embodied emissions/expected lifespan * reserved usage)/(system utilization)

where:
 total embodied emissions is the sum of LCA emissions for all components
Expected lifespan is the anticipated time that the equipment will be installed
reserved usage is the time the equipment has been reserved for use of the software
and system

[2021-09-27 22:53] jawache commented on #31
Embodied carbon (otherwise referred to as "Embedded Carbon") is the amount of carbon pollution emitted during the creation and disposal of a device. They are a significant component of the total carbon emissions of software and therefore MUST be taken into account when calculating the SCI score of an application.

You MUST include all the embodied emissions for the hardware used within the boundar

[2021-09-27 23:07] jawache commented on #31
Some phrasing for discussion:

You MAY use simple models to estimate embodied emissions; however, we RECOMMEND using the most granular data possible and ideally emissions data from a devices life cycle analysis when calculating your embodied carbon.

And

You MUST include an estimate of all the embodied emissions for the hardware used within your software boundary.

[2021-09-28 08:14] jawache commented on #31
Actually perhaps more like this `M = Total embodied emissions * time reserved/expected lifespan * reserved usage`

So for a server that has 40vCPUs that you rented 4vCPUs for 1 hr and has 4000kg of embodied emissions assuming a 4 year lifespan.

`M = 4000 * 1h/4years * 4/40`

For a laptop, you might choose a different way to calculate `reserved usage`? Laptops are usually limited by memory in my e

[2021-09-29 05:10] atg-abhishek commented on #31
Since `RECOMMEND` isn't on [RFC2119](https://datatracker.ietf.org/doc/html/rfc2119), maybe we can rephrase this as follows: (`RECOMMENDED` is in RFC2119, but I'd rather keep everything in the sentence for the same subject, i.e. "you")

[2021-09-29 05:10] atg-abhishek commented on #31
thanks @Henry-WattTime and @jawache for capturing this here :)

[2021-09-29 15:22] jawache opened #95 "Telemetry Based and Benchmark Based SCI Calculations"
### Discussed in https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/66

<div type='discussions-op-text'>

<sup>Originally posted by **jawache** September  2, 2021</sup>
In the SCI the conversation currently revolves a lot around the idea that you can measure the total carbon emissions for an application. For a lot of applications, esp. open source applications, this

[2021-09-30 12:48] Sealjay commented on #48
Sounds good @seanmcilroy29!
I've created #98 which has the notify for new users, and invite to contribute, doesn't yet include RNA auto merging, but I've mapped the process out, so we can set up a call.
I've got some points to clarify as well with @atg-abhishek : what labels do we need to monitor for RNA, and which email address needs to receive the notification.

[2021-09-30 13:20] Sealjay commented on #86
I've added #82 and #98, so that will invite users that raise an issue, etc. Any way we could invite everyone in the GSF slack to add their details to the CFF file?

[2021-09-30 13:42] Sealjay commented on #48
Right, I think I've configured an auto-merge process too, so I'll arrange a call @seanmcilroy29

[2021-09-30 16:22] Sealjay commented on #95
As discussed on 30 Sep with @SaraEmilyBergman @atg-abhishek @Henry-WattTime and @jawache  - proposed to split this into 3. Telemetry; instrumented data (which we then extrapolate to many devices, e.g. I run it on my machine, assuming it will be used by 10), and 3, benchmarking.

[2021-10-06 04:13] srini1978 opened #107 "Site reliability engineering principles and impact of SCI on them"
**What is SLI and SLO?**
Reliability is the concept of a system having the quality of being trustworthy or of performing consistently well. Today most applications have a Service level objective (SLO) to facilitate monitoring. SLOs have typically 3 constraints
1)	Service level indicator or SLI.
2)	The target metric or Objective in percentile
3)	The observation window
SLI + Objective +Observation w

[2021-10-07 04:26] atg-abhishek commented on #107
ah yes me too @srini1978 - not sure what's going on ...

[2021-10-07 16:21] Sealjay commented on #107
@srini1978 referred to #88

[2021-10-08 03:50] atg-abhishek commented on #31
Sounds good @Sealjay - thanks!

[2021-10-13 20:43] buchananwp commented on #31
@tgogoi for context

[2021-10-14 16:06] buchananwp opened #116 "Readability: Intro & Executive Summary"
- [x] Intro & executive summary
- [ ] 1. bump the 'core characteristics' section to the top for readability
- [ ] 2.Incorporate comments from ['getting started' discussion](https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/115) with core characteristics section in the spec
- [ ] simplified SCI equation at the front (similar to the slide deck that Asim showed)
- [x]

[2021-10-14 18:04] Henry-WattTime opened #117 "Baseline, acceptable R"
As discussed during the working group

key idea:
"What does the software scale by"
(or functional unit)

R:
API call/request (per call)
Benchmark (version) (for lab vs. real-world)
User (account/person/per install/
Machine
Minute (time unit)
Device/Physical site (home, factory, device)
Data volume (bytes through system)
Job (batch jobs, training rounds)
Transaction (payments systems)
Mining
Databa

[2021-10-14 19:39] Henry-WattTime commented on #117
For future consideration:

Comparability important for standardizing
v2 standard? may move to specific requirements for r for different industries in future revisions
Start optimizing
features of product are different, hard to compare
Useful internally for making decisions

If metrics exist
some consumers will make decisions based on intensity
	companies will immediately use nuanced description to

[2021-10-14 19:40] Henry-WattTime commented on #117
Henry commenting as Henry:

You all are going to hate me for this, but we know some crypto currency people will want to start using this standard. That means that value might have to be one of the R's?

[2021-10-18 22:00] vaughanknight commented on #117
On Crypto - Value ends up being a very indepdendent factor.  And this should be about driving the right behaviour.  If we associate R with value, we encourage making high emissions crypto more valuable to reduce it's SCI, when it actually will drive higher emissions.

It also means lower value crypto with better SCI  but lower valuable will look more desirable.  Whether it's transaction cost + min

[2021-10-18 22:13] vaughanknight commented on #117
* Mining

[2021-10-18 22:44] Henry-WattTime commented on #117
Vaughan, that makes sense. I assume that means it will have to be mining emissions per coin (regardless of the value of that coin). I've added mining to the top list.

Sara, I've added Database Read/Write to the list as well.

[2021-10-18 23:27] vaughanknight commented on #117
Henry - yep.  Mining per coin for some coins is going to be 99% of that coins carbon emissions even after a million transactions, and for other coins, the transactions/gas cost might be 99%.  And I feel it's the average mining emissions we should look at.

There is probably also a discussion about the scale of the blockchain footprint in terms of storage ... so many things that can wait for v2.  I

[2021-10-18 23:30] vaughanknight commented on #117
This raises an interesting point - We don't know where the coins are mined.  This is possibly another issue that I'm happy to create.

For software that runs globally distributed and at different times, the emissions value will change due to the emissions in the energy being consumed.  How does SCI work here for the developer (vs the operator) of software?  Calculating the energy consumed is a com

[2021-10-20 18:53] dschien opened #128 "Define Marginal Carbon Intensity"
"This is the emissions intensity of the marginal power plant which will be turned up if you schedule some compute (e.g. increase electricity demand from the grid) at that moment." - this is vague and needs proper definition. What is a "marginal power plant"?

[2021-10-20 18:55] dschien opened #129 "Improve phrasing of problem statement"
The phrasing is vague in many places and needs clarity prior to release for public consumption. Example:
"The purpose of this specification will be to enable standardization across industry empowering individuals and organizations to make more informed choices in the software solutions that they pick. " - "more informed choices in the software solutions that they pick" - what kind of choices are t

[2021-10-20 19:07] dschien opened #130 "Rephrase "Software Sustainability Actions""
"All actions that can reduce the carbon emissions of a piece of software fall into one of three categories." This statement needs justification. I don't think is it necessary to make such a strong claim for the purpose of this section.

I suggest softening it to something such as:
"The SCI specification intends to encourages the reduction of carbon emission from software through the actions from t

[2021-10-20 19:10] dschien opened #131 "Software Boundary: define "significantly""

[2021-10-20 19:13] dschien opened #132 "Review term "Software Boundary""
Why is the section labeled "Software Boundary" when it makes reference to infrastructure? In what sense is this a software boundary?

In the LCA methodology, this would be related to scope.

[2021-10-20 19:16] dschien opened #133 ""Software Boundary" - inconsistent types of devices and term MAY is confusing"
The list is a mix of types of devices and service functions.

Additionally, the term "MAY" is confusing - is this supposed to be an exhaustive list? I suppose not - so it should be explicitly stated that these are examples.

This section requires review and generalisation, so it can support a standard.

[2021-10-20 19:18] dschien opened #134 "Methodology Summary: remove "real-world""
This is superfluous.

[2021-10-20 19:20] dschien opened #135 "Methodology: review section goals"
"measuring the total change in global emissions associated with a particular piece of software"
- replace measuring - none of the current document is related to measurement.

What is meant with "global emissions"?

What is a "particular piece of software"?

[2021-10-20 19:21] dschien opened #136 "Methodology section: poor phrasing in statement about carbon intensity"
"Electricity has a carbon intensity depending on where and when it is consumed" -
This is wrong: carbon intensity is related to the generation of electricity.

[2021-10-20 19:24] dschien opened #137 "Methodology section: define "marginal rate" and "growth of a software product""
Also, in "A rate provides you with helpful information when considering the growth of a software product and allows for the computation of a marginal rate."  - be clearer about "helpful". How is it helpful?

Finally, regarding "computation" - is this the same as calculation?

[2021-10-20 19:25] dschien opened #138 "Methodology section: provide method to derive operational emissions of a given piece of software"
As stated earlier - the goal of the standard is to provide a "practical" method. Thus, it is necessary to also define "operational emissions of a given piece of software" and provide a method how to establish this.

[2021-10-20 19:26] dschien opened #139 "Methodology section: define "Energy consumed by a given piece of software""
How is "Energy consumed by a given piece of software" defined? More generally - what is a "piece of software"?

[2021-10-20 19:28] dschien opened #140 "Methodology section: define "Location-based marginal carbon emissions""
What are these and how can they be identified?

[2021-10-20 19:33] dschien opened #141 "Conflicting use of I in `O = E * I`"
If `I` is defined as Location-based marginal carbon emissions - in a unit of mass of GHG.

In `O = E * I` it is used as an intensity - as mass of GHG per electric energy.

I suppose the definition of `I` is wrong.
---
O = E * I = Operational emissions based on energy consumption (E) and location-based carbon intensity measurement (I)

[2021-10-20 19:35] dschien opened #142 "Define Embodied emissions of a given piece of software"
Needs definition, as well as practical guidance on how to calculate/measure/etc it, if this standard should be useable as a "practical methodology"

[2021-10-20 19:39] dschien opened #143 "Methodology section: `E` - review"
"`E`= Energy consumed by a given piece of software" -
What form of energy is meant here? Is this supposed to be electric energy, primary energy or something different altogether? And why is this choice made?

[2021-10-20 19:42] dschien opened #144 "Methodology section: rephrase "software is emitting" carbon"
GHG are emitted, among others, during generation of electricity from fossil fuel - software is not emitting the carbon.

I suggest rephrasing to refer to the carbon footprint of software.

[2021-10-20 19:59] dschien opened #145 "Unclear `R` results in unclear definition `CI = C / R`"
In "R = Baseline as a denominator (e.g. carbon per additional user, API-call, ML job, etc)" - What is meant with carbon per additional API call? What is "carbon" here? "Carbon emissions?" This is very poor phrasing.
Let's assume it's unit is mass of GHG per dimension of the reference unit.

Moreover, C is defined as "`C = O + M` = Total amount of carbon the software is emitting over a time period"

[2021-10-20 20:05] dschien opened #146 "Define "component" in Lab-based alternatives to Real-world measurements"
What is meant with "component" in "measuring the total real-world carbon emissions of your component C"? Or is it supposed to be "`component-C`"?

[2021-10-20 20:08] dschien opened #147 "Lab-based alternatives to Real-world measurements: Clarify the role of measurement"
There are several references to "measurement" in this section. For the majority of software applications measurements "in the wild" are impossible as they are distributed over several servers, networks and user devices and no party can physically take measurements on all parts of this supply chain.

I suggest substituting this term for something that takes this complication into account.

[2021-10-20 20:10] dschien opened #148 "Operational Emissions: define "consequential approach""
Related to this: Justify mandating marginal emissions rates as a result from a consequential approach

[2021-10-20 20:16] dschien opened #149 "Energy Measurement (E): improve clarity and consistency"
1. review use of term "measurement"
2. Clarify in what sense is the list provided a list of "taxonomies"? What sort of "taxonomy" is a data centre?
3. Check consistency in examples of provided for "infrastructure and systems" - how are "Individual service (e.g. API call, ML training job)" and "Execution of code" example of infrastructure and systems?

[2021-10-20 20:25] dschien opened #150 "Location-Based Marginal Carbon Intensity Measurement (I): needs justification, and improved clarity and phrasing"
The section includes undefined terminology "regional balancing authority", "marginal power plant", "schedule some compute".

I disagree with the statement "From a developer perspective, only the location-based info is important for having an impact on reducing carbon emissions." - a persistent reduction of electricity consumption attributable to a specific functional unit of software will contribu

[2021-10-20 20:27] dschien opened #151 "Review definition of Embodied Emissions (M)"
Are emissions from transport not included in the use of the term in this text?

[2021-10-20 20:46] dschien opened #152 "Embodied Emissions: calculation of resource-share needs definition"
"share of total available resources reserved for use by your software" is vague.

[2021-10-20 20:52] dschien opened #153 "Embodied Emissions: consider making estimate of all the embodied emissions optional"
Data on all aspects is very sparse, in particular on "Total Embodied Emissions" and "Expected Lifespan", notwithstanding the methodological ambiguity mentioned in issue https://github.com/Green-Software-Foundation/software_carbon_intensity/issues/152

The potential to develop a concrete method based on this standard will be limited by this requirement.

[2021-10-20 20:57] dschien opened #154 "Consider how uncertainty from simplification will impact the goals of transferability and comparability"
The standard is vague in many places which introduces uncertainty. For example, the section on Embodied Emissions permits the use of "simple models" without qualification what these are. The resulting uncertainty however will negatively affect comparability of any calculated SCI indicators between alternative software.

I miss consideration of this problem in the text.

[2021-10-21 10:43] atg-abhishek opened #155 "Flesh out boundaries section for the SCI"
For the v1 release, we are removing `Boundaries` from the SCI but this will need to be fleshed out and re-added as we move towards the next iteration.

Reference: #118

[2021-10-21 11:29] atg-abhishek opened #156 "What are the requirements in how people report the SCI?"
### Discussed in https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/103

<div type='discussions-op-text'>

<sup>Originally posted by **jawache** October  1, 2021</sup>
We've mentioned in a few places in the spec things that need to be reported as part of the calculation of SCI. I suspect we probably need to have a clear section regarding how you report it and also,

[2021-10-21 11:41] atg-abhishek commented on #116
@buchananwp @jawache @Henry-WattTime do we want to address all of the 6 items above for v1?

[2021-10-21 11:45] atg-abhishek commented on #128
@Henry-WattTime would you like to add a clarification for this? Thanks!

[2021-10-21 11:46] atg-abhishek commented on #129
@dschien there is a readability PR being made now that addresses a lot of this. See #121. Maybe you can add in your comments there on this? Thanks!

[2021-10-21 11:46] #129 closed

[2021-10-21 11:48] atg-abhishek commented on #130
@dschien I like this phrasing - once the PRs are merged in during the WG call today. Can you make a new PR for this? Thanks!

[2021-10-21 11:54] atg-abhishek commented on #133
Thanks for sharing that @dschien - please feel free to make a PR with your suggested changes and we can review there.

[2021-10-21 11:56] #134 closed, assigned to dschien

[2021-10-21 11:58] #135 closed, assigned to dschien

[2021-10-21 11:59] atg-abhishek commented on #135
If there are any that remain to still be addressed @dschien - please feel free to raise them on #116 . Thanks!

[2021-10-21 12:12] #139 closed, assigned to dschien

[2021-10-21 12:16] atg-abhishek commented on #142
There will be an appendix that will provide some practical guidance along with a wiki. Please feel free to create a PR for what you would like to see in there. Thanks!

[2021-10-21 12:25] atg-abhishek commented on #145
addressed in #121 but maybe some more food for thought @jawache ?

[2021-10-21 12:25] #145 closed

[2021-10-21 12:33] #150 closed, assigned to nobody

[2021-10-21 12:39] atg-abhishek commented on #147
Do you have any suggestions on what the other phrasing would be?

[2021-10-21 12:39] #146 closed, assigned to dschien

[2021-10-21 16:50] dschien commented on #147
Regarding the meaning of measurement. [L.J. Ferris. A new definition of measurement. 2004](https://reader.elsevier.com/reader/sd/pii/S0263224104000168) provides this definition: "‘Measurement is an empirical process, using an instrument, effecting a rigorous and objective mapping of an observable into a category in a model of the observable that meaningfully distinguishes the manifestation from ot

[2021-10-21 17:32] atg-abhishek opened #159 "Normalize the use of various terms from RFC 2119 across the SCI"
We want to make sure that the usage of terms coming from [RFC 2119](https://datatracker.ietf.org/doc/html/rfc2119) are used consistently for easier readability across the SCI.

[2021-10-26 15:24] #117 closed, assigned to vaughanknight, Henry-WattTime, SaraEmilyBergman

[2021-10-26 15:25] SaraEmilyBergman opened #164 "Change from R from "Baseline" to "Functional Unit""
Whenever the specification mentions "baseline", change it to "functional unit" for R.

[2021-11-01 13:06] atg-abhishek commented on #164
@SaraEmilyBergman will you be creating a PR for this?

[2021-11-01 13:09] SaraEmilyBergman commented on #164
I was just asked in a meeting to create the Issue so we did not forget. I can't make next Thursday meeting but if it is ok to merge it when I'm not there I can do it?

[2021-11-01 13:17] atg-abhishek opened #169 "Convert remaining HTML tables in the SCI to MD tables"

[2021-11-01 13:42] SaraEmilyBergman commented on #164
Okay it was a one-line change. I think you can merge without me present, here is the PR: https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/170

[2021-11-01 14:15] atg-abhishek commented on #164
Awesome thank you @SaraEmilyBergman - we have a meeting today as well (short one) so @seanmcilroy29 if we can add this to the agenda as well that would be great. I've reviewed and approved the PR.

[2021-11-01 15:43] atg-abhishek opened #171 "Check the scope of the SCI to follow guidelines"
The Scope is a mandatory clause which describes what the document does (“specifies”, “establishes”, “gives
guidelines for”, “defines terms”). It shall be worded as a series of statements of fact. It shall not contain requirements
(“shall”), recommendations (“should”) or permissions (“may”).
The Scope shall be succinct so that it can be used as an abstract for bibliographic purposes (e.g. it is use

[2021-11-01 15:44] Sealjay commented on #171
I think the scope is good as-is - I like it, but up for other changes that remain as succint if we want to clarify text.

[2021-11-01 15:50] #164 closed

[2021-11-01 16:03] atg-abhishek commented on #116
@jawache for the outstanding items, please feel free to hit the button to branch them off into new issues, thanks!

[2021-11-04 17:39] seanmcilroy29 opened #175 "[Consistency review] Software Carbon Intensity (SCI) Specification"
Consistency Review - In this phase, the Software Carbon Intensity (SCI) developed by the WG will be formally reviewed by all the GSF members. After this period, the Working Group will address any submitted issues received prior to formally Approving it for public release.

Submission for review - https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intens

[2021-11-05 16:22] Green-Software opened #176 "Consider Power Usage Effectiveness (PUE)"
The Power Usage Effectiveness (PUE) is not included as part of the operational energy. The total operational energy includes the energy consumed by the computing equipment and the supporting energy consumed by facilities (e.g. HVAC).

PUE is the ratio of total amount of energy used by a computer data center facility to the energy used by the computing equipment. If we do not include PUE, a softwar

[2021-11-05 16:24] Henry-WattTime commented on #176
Oh I like this a lot!

[2021-11-05 16:49] Green-Software opened #177 "Provide Exemplary Case Studies"
After we release the alpha version of SCI, the community may still need more guidelines on how to apply it to their software products.

We may work together to come up with several exemplary case studies to help the community better understand how to leverage SCI to reduce the carbon emissions of their software.

We can also consider publish the updated version of SCI metrics with these case studi

[2021-11-05 19:41] Henry-WattTime commented on #177
I think this is an excellent idea, but I think should be part of the followon efforts. I think we should publish this Alpha and then start building case studies. @buchananwp I think the work you've done might be a perfect example.

[2021-11-07 11:44] jawache commented on #176
That's a good point, we should make a reference to it in the energy section to include the PUE in your calculation when running in the cloud, but since the equation has to be applicable to non-cloud scenarios including it in the main equation would be confusing. I would suggest just discussing it in the `E` section.

As far as I am aware I don't believe any cloud provider gives the PUE at the DC l

[2021-11-07 11:55] jawache commented on #177
Agreed, I think @Green-Software was talking about doing this post Alpha release anyway. We'd briefly touched on this at the end of the last Standard WG call, focussing the next phase on applying the SCI to some use cases.

I think we should take a few baby steps first, perhaps 3/4 internal case studies with **very simple** apps from a broad set of categories to demonstrate it can be applied in a v

[2021-11-08 17:47] atg-abhishek commented on #48
@Sealjay can we close this issue?

[2021-11-08 17:48] atg-abhishek commented on #107
Closing this issue now since we will be finding an alternate venue to publish this.

[2021-11-08 17:48] #107 closed

[2021-11-08 17:51] #128 closed

[2021-11-08 17:55] buchananwp commented on #177
That sounds great! Especially since 'E' and 'M' are readily available :)

Best,
Will

On Fri, Nov 5, 2021 at 8:41 PM Henry-WattTime ***@***.***>
wrote:

[2021-11-08 17:58] #130 closed

[2021-11-08 17:58] #131 closed

[2021-11-08 17:59] #133 closed

[2021-11-08 18:00] #132 closed

[2021-11-08 18:00] #137 closed

[2021-11-08 18:00] #138 closed

[2021-11-08 18:00] #140 closed

[2021-11-08 18:02] atg-abhishek commented on #141
Closing this issue since the updated SCI text has this addressed

[2021-11-08 18:02] #141 closed

[2021-11-08 18:02] #142 closed

[2021-11-08 18:02] #143 closed

[2021-11-08 18:02] #154 closed

[2021-11-08 18:02] #153 closed

[2021-11-08 18:03] atg-abhishek commented on #152
Closing this for now since this seems to have been resolved in the past few WG calls.

[2021-11-08 18:03] #152 closed

[2021-11-08 18:03] #151 closed

[2021-11-08 18:03] #149 closed

[2021-11-08 18:04] #148 closed

[2021-11-08 18:04] #144 closed

[2021-11-08 18:05] #147 closed

[2021-11-08 18:06] #177 closed

[2021-11-08 18:07] #176 closed

[2021-11-09 16:26] srini1978 opened #200 "Verbiage needs to be updated in the Quantification method"
In the quantification method section, need to remove the following statement as I think it is redundant

"The third step in generating your SCI score is deciding the approach to take when quantifying the carbon emissions for each component in your software boundary"

https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_

[2021-11-11 16:41] #200 closed

[2021-11-11 16:43] Henry-WattTime commented on #159
Sara did a review, closing this

[2021-11-11 16:43] #159 closed

[2021-11-11 16:44] Henry-WattTime commented on #169
Sean will do conversation to MD during publishing, not related to delivering of information.

[2021-11-11 16:44] #169 closed

[2021-11-11 16:45] Henry-WattTime commented on #171
Looks good to working group.

[2021-11-11 16:45] #171 closed

[2021-11-11 16:46] Henry-WattTime commented on #175
Consistency review closed, no further comments.

[2021-11-11 16:46] #175 closed

[2021-11-11 16:46] #116 closed

[2021-11-18 17:04] atg-abhishek opened #205 "Create a template for the case studies"

[2021-12-08 21:19] AirLoren opened #213 "Replace life span with use duration in Embodied Emissions formula"
Using life span in embodied emissions formula leads to wrong results because the underlying infrastructure is never used at 100% during its whole life span.
Most Cloud providers expect a use of less than 80% of running infrastructure and on premises infrastructures are often used less than 50% of the time during their life span.
You'd rather introduce a total use ratio to calculate the effective u

[2021-12-09 17:07] #156 closed

[2021-12-09 17:18] Henry-WattTime commented on #213
The working group appreciates this comment and is reviewing in detail! On the agenda for next week (12/16).

[2021-12-16 09:54] #205 closed

[2021-12-16 16:56] atg-abhishek commented on #213
We would love to include the use-ratio but from conversations it seems that this would be a difficult number to get from data centres.

We might need some more information on how this applies to auto-scaling infrastructure cc @srini1978 (would be great if you can create an issue with this for future tracking)

We will explore if it is possible to get this data and then include it into the SCI.

We

[2021-12-16 19:28] AirLoren commented on #213
I agree that it will be hard to get this ratio from cloud providers because it's a key indicator for their business model and profitability.
I think the default value for this use ratio is a good idea to :
- allow organization to fine-tune their results if they're able to get this ratio
- encourage cloud providers to publish their ratios (for example, if you set the default value at 60% and if SCI

[2021-12-17 08:39] srini1978 commented on #213
@atg-abhishek  @Henry-WattTime  @AirLoren  From a practical perspective, I think it would be necessary to define more in detail how do we define TR and RR in the above formula.

For Platform services in the cloud that abstract away the infrastructure and the scaling from application developers, it is nearly impossible to talk in terms of time reserved and resources reserved. In such cases the info

[2021-12-17 11:18] srini1978 commented on #213
@atg-abhishek  @Henry-WattTime  @AirLoren

Some additional thoughts that can help us gain a foothold on this TR and RR components

1) Our overall calculation principle is that we will be consequential not attributional. Hence elements like TR/RR or TS/RS will end up reducing the value of M. My thought it is ok to assume that the infrastructure is fully used by this software and if portion of the M

[2021-12-20 10:20] srini1978 commented on #213
@AirLoren  Thanks for the clarification. Somehow in my mind I thought use ratio was in the numerator.

[2021-12-20 10:21] AirLoren commented on #213
@srini1978 I fully agree that we should keep SCI calculation as simple as possible. If we want to manage all use cases (On prem, Public cloud PaaS, FaaS and IaaS) the formula will be too complex. Then we should accept some tradeoff.
In my point of view, FaaS and PaaS impact is quite impossible to evaluate, at this time, because we don't know anything about the infrastructure used by the cloud prov

[2021-12-21 19:54] buchananwp opened #216 "Test case submission: GreenAI"
## Overview

Machine Learning training consumes vast amounts of energy. In this test case, we will calculate the SCI delta between two convolutional neural networks (InceptionV3 and DenseNet) for an image classification scenario.

## Sites for Software Sustainability Actions

### Energy Efficiency

1. Training to be run on Azure Machine Learning GPU
2. Prior analysis has shown that InceptionV3 Out

[2021-12-27 05:40] srini1978 commented on #213
@atg-abhishek  @AirLoren   @Henry-WattTime  One possible option to make the calculation simple, atleast in the cloud context is :

1) For a given embodied carbon value of M, let us consider the amortized value /year based on the lifespan of the device. For example if a Dell server has embodied carbon of 1000 Kg and it's expected lifespan is 5 years, then the amortized value /year is 1000kg/5 = 250

[2021-12-28 07:25] srini1978 opened #217 "How to calculate the Energy value in the SCI formula (E)"
Is there a way to be prescriptive around how we calculate the E in the SCI formula ?

I was looking at this article -https://greensoftware.foundation/articles/gps-up-a-better-metric-for-comparing-software-energy-efficiency and the point about Greenup is good.

The intent of me raising this here is to understand how we can be more prescriptive about this component

[2022-01-06 17:31] Henry-WattTime commented on #213
Working Group: currently UR (utilization ratio) is hard (nigh on impossible) to extract from providers. Would like to revisit this in future version of the specification. # #

[2022-01-06 17:38] AirLoren commented on #213
why not setting it to 1 by default to keep it in the formula and allow organizations able to define it to be more precise?

[2022-01-06 17:41] seanmcilroy29 commented on #213
WG agreed to move this issue into discussions

[2022-01-12 12:25] martinlippert opened #222 "question about boundaries, infrastructure components, and the development of the software"
I have a question regarding the boundaries section that isn't totally clear to me.

From what I understood, the boundary of the software "MUST include all supporting infrastructure" (and a list of examples follows over there). It sounds to me like systems that are used while developing the software (e.g. "testing", "build and deployment pipelines", "scanning") are also taken into account here. Is

[2022-01-13 17:03] Henry-WattTime commented on #222
Working group:
Other lower environments as well (dev, test, etc). Is each developer environment included?
Partially included:
"Supporting systems may include [...] building and deploy pipeline, operations, monitoring, backup[...]" - Maybe needs Devops costs/emissions
example:
developers searching for ideal architecture will have significant impact.

Maybe for v1: advise to split into running cost

[2022-01-13 17:14] Henry-WattTime commented on #217
We leave it up to the developer/person scoring the software to determine the best way to calculate E. They should use the best available information (which may be limited in some cases) to calculate a meaningful value.

In a case where no information is available about the hardware energy consumption, it is reasonable to make assumptions/comparisons using other hardware information. Potentially ne

[2022-01-13 17:14] #217 closed

[2022-01-20 16:48] atg-abhishek commented on #216
@buchananwp to ask the UW students who will be working on this to make a PR referencing this issue. The PR will be against an appendix.

[2022-01-20 17:02] atg-abhishek opened #227 "Case study proposal - Ecommerce web application using eShoponWeb"
### Discussed in https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/225

<div type='discussions-op-text'>

<sup>Originally posted by **srini1978** January 14, 2022</sup>
As we are starting to identify case studies, one option we can use is to take a popular ecommerce open source code and calculate SCI for it. eShop is a popular one that is Asp.net core based. There

[2022-01-24 10:11] srini1978 commented on #216
@buchananwp  Will the final SCI value include the calculated value of M?

[2022-01-24 20:05] buchananwp commented on #216
Yes, I will ask that the teams attempt to calculate M. I expect it to be
quite difficult, but it would be a good challenge for them!

On Mon, Jan 24, 2022 at 11:11 AM Srinivasan ***@***.***>
wrote:

--

Best,
Will

[2022-01-28 16:55] srini1978 commented on #227
[Case study_EcommerceApplication_Cloudhosted.docx](https://github.com/Green-Software-Foundation/software_carbon_intensity/files/7960391/Case.study_EcommerceApplication_Cloudhosted.docx)

Please find attached the case study document for Ecommerce web application. Inferences and observations are also documented

[2022-01-31 00:02] atg-abhishek commented on #227
Thank you for putting this together @srini1978 - maybe you can also share it on the Slack channel for those who don't get a chance to check the issue here?

[2022-01-31 04:20] srini1978 commented on #227
Inferences
1.	The functional unit R remained the same across all the tests i.e. Number of users as a metric but the values changed during the load test. There were load test times at which peak user load of 45 was attained but there are times at which there were hardly 10 users.

 Hence when we define R as number of users, we should call out that this value is during the peak usage of the applicat

[2022-02-04 08:39] srini1978 commented on #227
@atg-abhishek  @Henry-WattTime  Case study documented updated and complete

[2022-02-04 08:58] srini1978 commented on #227
## Overview

The application is a web application that is used in an ecommerce scenario by customers. It is a sample ASP.NET Core reference application, powered by Microsoft, demonstrating a single-process (monolithic) application architecture and deployment model.

## Architecture for the system under consideration

The architecture of the application is described in detail here -https://github.c

[2022-02-09 13:35] atg-abhishek commented on #227
On the above @srini1978 , isn't there a potential that the way the infrastructure is setup on the web server side, it will have impacts on the kind and size of network traffic that is emitted and hence the network traffic could potentially be included as well? Or conversely, the kind of network traffic being emitted from the database will have processing implications on the side of the server?

[2022-02-09 15:39] davidmytton commented on #227
Note that figure of `0.023` kWh/GB is for the IP core network only and is from 2015. You'll need to check the network component is relevant and apply improvement factors for each year since then ([improves by half every ~2 years](https://onlinelibrary.wiley.com/doi/pdf/10.1111/jiec.12630))

[2022-02-09 17:22] mrchrisadams commented on #227
Hey folks.

I've been watching this issue with interest, the last few comments bring up a a good point.

I know it's excluded from the initial model, and but since it came up it brings up an thorny issue - how to represent the emissions from transfer on a _marginal basis_ for the SCI.

We might pay for bandwidth on a per gigabyte basis, but that's because of the business model behind cloud. It doe

[2022-02-10 17:12] Henry-WattTime commented on #227
WG comments:
Question: does energy consumption of networking equipment scale with data throughput or is it constant regardless of throughput?
Question: Is it different for cloud or on-prem?
Asim hypothesis: Networking technology consumes data no matter what. for example, the network card in laptop consumes electricity no matter what.

Different networks types have different emissions? Cell vs. wif

[2022-02-17 16:44] atg-abhishek commented on #227
We could work with the CWG on how we applied the SCI to this case study.

[2022-02-17 16:45] atg-abhishek commented on #227
@seanmcilroy29 to reach out to Chris about SCI Open Data to calculate network emissions

[2022-02-17 16:46] atg-abhishek commented on #227
We can also coordinate with Chris on the SCI Reporting once that spec is more well written out.

[2022-02-21 22:36] jawache commented on #227
Excellent work @srini1978! So as I read this, the only component in the software boundary in this case is the "application server" is that correct? Which is fine, the whole point of documenting the software boundary is to make these distinctions clear.

1) I think there a couple of assumption in the doc which would like some clarity on. The M values seem incredibly high, which is why the SCI score

[2022-02-21 22:55] jawache commented on #227
@mrchrisadams my 2c is that overall reducing traffic regardless of how that traffic is paid for and block booked is the only lever that makes sense to pull. I mean data centers are the same in a way, they buy a fixed capacity but charge you a floating rate, just because the DC is only being 50% utilised doesn't mean 50% of the emissions go away, the other 50% is just sitting there unused, but over

[2022-02-22 18:01] atg-abhishek commented on #227
@jawache @srini1978 looking at this exchange here, something comes to mind for me - we have [Discourse](https://discourse.greensoftware.foundation/) which I think could become a good avenue for memorializing case studies and bringing in a broader community to work through the various points of a case study? The reason to propose that is 2-fold:

1. Discourse is more accessible than GitHub discussi

[2022-02-28 08:44] srini1978 commented on #227
@atg-abhishek @jawache  Great idea.   I can create a post there. another thought is if we link to these discourse posts on our GSF linked in so that we can bring in that traffic. We can work with whoever is moderating our GSF linked in channel to do these posts ? Will check with Niloooka and/or @SaraEmilyBergman

[2022-02-28 12:40] jawache commented on #227
Hia, currently people are engaging here via the comments on the doc and now we have this issue thread so it's already a little challenging to keep track of the conversation? What's the benefit of adding Discourse here as a 3rd channel for communication, esp. since with Discourse you need to register again and everyone already has an account with Google Docs and GitHub?

[2022-03-01 13:34] srini1978 commented on #227
@jawache  Agree to your observation here.

@jawache   Great catch again. I believe I have assumed linear relationship which I realize now that it is not valid. I remember seeing a better formula to calculate energy consumption for cloud services but I dont seem to be able to find it. It would be great if you could point me to some of this and I can then rework the calculations.

[2022-03-01 15:44] atg-abhishek commented on #227
Agreed - I would like to keep all the discussions here so that they can be referenced later on tied to the work and discussions that have already taken place here. @jawache @srini1978 we should also try and figure out where we stand on having some of the ideas floating in the GDoc separate from this thread then?

[2022-03-03 17:12] Sealjay opened #236 "[Tool Selection] GitBook"
@Sealjay to deliver a demo of GitBook on an SCI fork on March 10th. FYI @jawache @seanmcilroy29 @Henry-WattTime @atg-abhishek

[2022-03-05 17:17] atg-abhishek commented on #236
Thanks @Sealjay - really looking forward to it!

[2022-03-05 17:18] atg-abhishek commented on #227
#236 might help to resolve the above as well. As per the SWG call this week, @jawache is working on a case study and we might now have a PR template instead of the issue template as a way to standardize the case studies

[2022-03-11 20:28] tmcclell opened #241 "Farm Insights - Raspberry Pi"
Farm Insights - Very very simple use case. .NET Core application running with temperature, humidity, sunlight, and soil moisture sensors. Running headless on a raspberry pi. I purchased a power meter and had the pi plugged into it. Ontology is device only.

Blog post located here - https://www.wonderfultinyfarm.com/wtfblog/software-carbon-intensity

### Energy Efficiency
.003 kWh per day for both

[2022-03-11 20:29] tmcclell commented on #241
I'll on vacation 3/13-3/18 - If possible, please wait for me to join the conversation!

[2022-03-15 19:26] Henry-WattTime commented on #241
Hello Tammy,

I reworked your math a little to, does this make sense?

operational                                                           + embodied                    = total/SCI score
((0.003 kWh/D x 365 days/year * 0.713 kg/kwh)) + (55 kg/3 year lifespan) = total
0.078                                                                     + 18.333                          = 19.114 kg/year of se

[2022-03-21 12:37] atg-abhishek commented on #241
Thanks for clarifying this further @Henry-WattTime - looking forward to the discussion this week on it!

[2022-03-29 17:26] tmcclell commented on #241
Thanks Henry - this makes sense and I've updated the blob post. I do still have a question on whether the embodied carbon is for 3-year lifespan vs lifetime.

[2022-04-11 03:58] srini1978 commented on #227
I was thinking about this metric for the front end and here are my thoughts
1. Any web application has to be accessed on client devices and this could be either mobile devices or laptops or desktops. We would not be able to quantify the number of such people accessing the application. The reason this number is important:  To be able to calculate the energy used on the front end browsers and client

[2022-04-13 02:30] atg-abhishek commented on #227
I would lean towards option #2 since that seems to make more sense but we can discuss more during the WG call.

[2022-04-21 16:01] Henry-WattTime commented on #227
Srini - created an updated version of case study, added the database server as well, pull request is available for review. Can see diff on old request.
Link: https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/247

How to calculate client side device emissions?
Elmar-Much harder to measure multilayer systems, academic papers often simplify to single machine.

Can do differe

[2022-05-08 04:36] ng-druid commented on #236
I think an important point to get across to everyone is those old Wordpress, Magento, Monolithic CMS platforms have plagued the environment. They are extremely inefficient and suck the environment dry. They are constantly on and consume many more resources than needed for the job that they do. Alternate solutions can be built that run much more efficiently based on green software design principles

[2022-05-10 05:18] YaSuenag opened #250 "[case study] TDP based estimation should be consider per chip rather than per core"
[SCI Case Study for eShop](https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/case-studies/eshoppen.md) estimates energy consumption using TDP and CPU utilization with following formula:

[code]

TDP means thermal design point for computer chip or component (e.g. CPU), not for a CPU core.
https://en.wikipedia.org/wiki/Thermal_design_power

So I think we should calculat

[2022-05-13 09:53] srini1978 commented on #227
@Henry-WattTime  @jawache @atg-abhishek  The client device calculations have been included and the case study updated.  https://docs.google.com/document/d/1McS2-WOTtvubzM5aQV5TrNPye_R1E2yd/edit

[2022-05-15 12:09] nabilahmed739 opened #251 "[Note for future] Shift focus to Life Cycle Assessment for the Hardware inputs?"
I understand that the current focus is on Carbon, however, in the long term we need to shift our focus from the "carbon tunnel vision" and broaden the vision onto various other impact categories like water use, land use change, abiotic resource depletion and also consider further downstream steps like end-of-life impacts of e-waste, etc..
This is more like a note for the future, when we have reach

[2022-05-19 01:49] atg-abhishek commented on #227
I think there are some access issues with the doc, I just requested access, thanks!

[2022-05-19 01:51] atg-abhishek commented on #251
Thank you for sharing this @nabilahmed739 - we will bring this up for discussion in this week's WG call. Thanks!

[2022-05-19 03:09] srini1978 commented on #227
@atg-abhishek  Access given

[2022-05-24 09:37] seebach opened #252 "Using SCI to measure purchased software"
Hi,

We have made a comparison between an on-premise system and a cloud system. They are both used for the same purpose but are from different vendors. The onprem runs on 6 servers with 12 cores on each. And the cloud system auto-scales from 4 to 32 CPU's. Just from that knowledge you would expect the cloud to perform better. But the fact is that CPU consumption on the 72 cores onprem is so low it

[2022-05-26 02:10] atg-abhishek commented on #252
Thanks for sharing this @seebach - could you share calculations that you ran for both on-prem and cloud infrastructure so that the WG can evaluate? Thanks!

[2022-06-07 08:37] srini1978 commented on #227
@njwalk  Good catch . I will fix the calculations

[2022-06-21 09:34] abeggchr opened #258 "Question re: location-based marginal emissions"
The specification regarding location-based marginal carbon emissions states:

_Location-based measures the grid carbon intensity of a regional balancing authority. From a developer perspective, only the location-based info is important for having an impact on reducing carbon emissions. This excludes market-based measures, and is distinct from 100% renewable energy claims.

The only figure that mat

[2022-06-30 15:37] #241 closed

[2022-06-30 15:40] tmcclell commented on #241
Closing and marking complete for Phase I. Initial boundaries were specified as the raspberry pi and software running on it. Case study completed and will reopen another for Phase 2 ontology which includes IoTHub, Storage and Power Bi additions.

[2022-07-07 16:13] atg-abhishek commented on #258
Henry: we should have a guide for choosing a vendor

[2022-07-07 16:21] #258 closed, assigned to nobody

[2022-07-16 05:43] srini1978 opened #261 "Test case submission- eShoppen"
# Case Study Template

## Overview

* The eShop Web application is a web application built on Asp.Net .It is built with monolithic architecture and follows MVC Design pattern
* The application uses a relational database for storing data
* The business use cases built demonstrates a simplified eCommerce site.
* The case study focuses on calculating the Software Carbon Intensity (SCI) value of the a

[2022-07-16 06:53] srini1978 commented on #261
FYI @atg-abhishek  @Henry-WattTime  @seanmcilroy29  @dohafernandez  @jawache

[2022-07-16 07:25] srini1978 opened #262 "Add reference to the SCI open data project in Specifications 1.0"
In the introduction section where we have the following paragraph "The SCI encourages calculation using granular real-world data, which is challenging to obtain in some of these environments, particularly the public cloud. The Green Software Foundation is committed to ensuring everyone has free and open access to the data sources required to calculate the SCI at lower resolutions and will provide

[2022-07-16 13:11] srini1978 opened #263 "Energy associated with the networking infrastructure - Specifications v1.0"
E is defined as energy consumed by a software system for a functional unit of work. Examples around CPU, VM,, individual services are mostly comprehendible however the specifications need to call out that work needs to be planned to

1) Do research on how to calculate embodied emissions for networking infrastructure
2) Similarly to energy proportionality principles for CPU utilization, we need to

[2022-07-16 13:21] srini1978 opened #264 "Quantification method -Guidance regarding methodology recommended for usage energy calculations - Specifications 1.0"
Today, the specifications just calls out if we need to either a) Calculate using real world data or b) Model . However the actual energy calculation approach could be either a) Done by attaching RAPL or energy meters to all the components in the software boundary or b) Use approximation models or reference models and then do calculation.

For example, for the server component in the case study, we

[2022-07-17 03:21] srini1978 commented on #262
Modified the specification and created the pull request https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/265

[2022-07-21 15:27] GadhuNTTDATA opened #266 "Taking into account energy consumption of ancillary equipment into the SCI score"
For Data Centers a significant consumer of energy are Data Center cooling systems. Its quite possible for cooling systems to use as much or even more energy than the hardware that it supports. Should this factor be taken into account in the SCI score.

Widely accepted benchmarking standards such as PUE already exist for data centers.

PUE(Power Usage Efficiency)  = Power used by the total facility

[2022-07-21 15:29] bninassi opened #267 "Adding "End user Devices" to the list of "Supporting infrastructure and systems MAY include" in the Software Boundary section"
The current list of examples may suggest that the impact of end user devices is not to be included in the SCI computation, yet in the case of a web platform it is probably the most important source of emissions when you scales up.

[2022-07-21 15:47] Henry-WattTime commented on #267
WG discussion
Asim: are there other terms that encompass other types of devices? (Televisions, laptops, iot, EVs, edge devices)
Pindy: Standard term?
Henry: standard term, define in definitions?

Action: Benjamin, please create PR for this item in the list.
-End user devices
-IoT devices
-Edge devices

[2022-07-21 15:59] Henry-WattTime commented on #266
Henry: supports including this
Asim: E should already take this into account.
Proposed
"If your boundary includes on-premise and/or cloud data center operation, E should take into account the efficiency of the data center, including cooling and other energy consumption necessary to operate a data center. This is often described as Power Use Efficiency (PUE)."

Gadhu, would you be willing to add th

[2022-07-21 16:07] navveenb opened #268 "Add details for Embodied Emissions (M)"
For Embodied Emissions (M),  there is always a question around how can you get the data.
It would be good to add a link to SCI open data as part of the specification.
Can we add more examples, probably for cloud measurements.

Secondly Total resource of RR/TR, it’s difficult to calculate for cloud VMs. All these details are abstracted by the cloud vendors.Some guidance should be provided for that.

[2022-07-21 16:09] Henry-WattTime commented on #264
Ziliang: instrumentation to measure supercomputers in high performance computation. Strict measurement requirements to make data center energy consumption more comparable. More heterogenous devices we are dealing with, so less ability to be strict. More relaxed at this point. We could propose a model.
Asim: agree to keep loose to begin with. Spec shouldn't _tell_ you how, but GSF should help you f

[2022-07-21 16:09] #264 closed

[2022-07-21 16:14] bninassi commented on #267
PR created https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/269

[2022-07-21 16:19] seanmcilroy29 opened #270 "Your SCI score is composed of other SCI scores"
### Discussed in https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/235

<div type='discussions-op-text'>

<sup>Originally posted by **jawache** March  3, 2022</sup>
Some components in your software boundary will be components **you manage**, for these you will need to calculate an SCI score from the ground up, quantifying `E`, `I` and `M`.

Some components in your

[2022-07-21 16:21] Henry-WattTime commented on #263
This also belongs in the GSF guidance effort, not directly in the spec. Asim and Srini to discuss and propose potential alteration to spec.

[2022-07-21 16:28] navveenb opened #271 "Add FAQ to SCI Specification"
It would be good to have a FAQ created for SCI Specification prior to release to address common questions and keep it updated.

- Measurements of Managed services
- Energy Tools to be used for measurements
- How to find data for measurements
- Embodied emissions calculations examples
- Serverless functions
...

[2022-07-21 17:02] navveenb opened #272 "Add more context on SCI for software professionals"
Adding few sentences on how SCI can be applied for various software roles would be helpful. May be this can be added to introduction or a new section can be added -

The SCI is for everyone. For instance something that connects with all software professionals, what role they play and talk about reduction of SCI score -

For a software developer reducing the SCI score would imply writing energy eff

[2022-07-22 06:52] varnepalli1 opened #274 "Carbon Awareness: Actions taken to time or region-shift software computation to take advantage of clean, renewable or low carbon sources of electricity.Test case submission"
# Case Study Template

*This is a template to use for case studies that are submitted to apply the SCI. *

*Please delete the text in italics and replace it with the appropriate information.*

*For more information on any of the items, the final reference is the [SCI Specification](https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/main/Software_Carbon_Intensity/Software_C

[2022-07-22 06:53] varnepalli1 opened #275 "Carbon Awareness: Actions taken to time or region-shift ..."
Could you elaborate a bit about Carbon Awareness? It is not very clear to me

[2022-07-22 07:03] varnepalli1 opened #276 "Request to use uniform wording across the doc"
For example, under section  "Procedure", used "Software Component" and "functional unit". Do they refer to same in the given context or differ? If those are same, it would be nice to use either one of the words at all the places. Otherwise, give better clarity on the differences and the context of application

[2022-07-22 07:10] varnepalli1 opened #277 "Request for corrections in section "Methodology Summary""
Below wording looks to me not clear, based on the introduction.

**The Software Carbon Intensity (SCI) is a rate, carbon emissions per one unit of R**

Should it be ...measuring rate of carbon emission per unit....??

[2022-07-22 07:34] varnepalli1 opened #278 "Rephrase SCI formula for better clarity and understanding"
Current snippet:
Please see my comments inline
--------

SCI = ((E * I) + M) per R.
[Vasu]: SCI is an abbreviation in our doc context. So, we are referring it as an attribute (LHS) here. I would say, it we could use 'C' directly here instead of SCI. If we keep both SCI and C, C looks like an alias to SCI and SCI we are using in two contexts, which is confusing

[Vasu]: It would be more clear if we

[2022-07-26 11:28] FinancialPenguin opened #280 "Spelling mistake"
''invlved'' should say involved
https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/1b4804f58e18dbee052897f8ea42c7e2669593ff/README.md?plain=1#L22

[2022-07-28 13:03] atg-abhishek commented on #155
Included here : https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#software-boundary

[2022-07-28 13:03] #155 closed

[2022-07-28 13:04] atg-abhishek commented on #48
@seanmcilroy29 I'm closing this issue, I don't think anything else is needed here, we can reopen if actions are needed.

[2022-07-28 13:04] #48 closed

[2022-07-28 13:06] atg-abhishek commented on #216
@buchananwp we didn't end up creating a case study for this did we? Perhaps we can pick this up again given that you've published a paper on this? We have the folder for it here: https://github.com/Green-Software-Foundation/software_carbon_intensity/tree/dev/case-studies

cc @Henry-WattTime

[2022-07-28 13:07] atg-abhishek commented on #236
Closing this issue since we're using GDocs for the first pass at the case study and then submit to the [case study folder](https://github.com/Green-Software-Foundation/software_carbon_intensity/tree/dev/case-studies) once it is ready via a PR.

[2022-07-28 13:07] #236 closed

[2022-07-28 13:10] atg-abhishek commented on #227
Once PR #256 is completed, we will close out this issue.

[2022-07-28 13:11] atg-abhishek commented on #262
Set to auto-close this issue once PR #265 is completed.

[2022-07-28 13:13] atg-abhishek commented on #250
Set to auto-close this issue when PR #256 is completed.

[2022-07-28 13:14] atg-abhishek commented on #261
set to auto-close this issue when PR #256 is approved.

[2022-07-28 13:15] atg-abhishek commented on #270
@jawache have you made a PR for this? If so, please feel free to link it to this issue so that it will be resolved and closed once that PR is approved. Thanks!

[2022-07-28 13:16] atg-abhishek commented on #267
Linked to PR #269 to auto-close this issue when PR is approved.

[2022-07-28 13:18] atg-abhishek commented on #266
Linked to PR to auto-close this issue once that PR is approved.

[2022-07-28 14:50] atg-abhishek commented on #263
@srini1978 @jawache is there a PR associated with this that we can link to the issue?

[2022-07-28 14:51] atg-abhishek commented on #268
Would this again be something that we do as a part of guidelines / appendix associated with the SCI rather than making direct edits to include into the spec @navveenb ?

[2022-07-28 14:52] atg-abhishek commented on #274
@varnepalli1 I see that you have a blank template here - can you populate this case study with what you had in mind? Thanks!

[2022-07-28 14:53] #275 closed, assigned to varnepalli1

[2022-07-28 14:56] atg-abhishek commented on #276
They are both different @varnepalli1 - the functional unit refers to how the software system scales (e.g. # of users) while the software component is a piece comprising the software system such as a database. So, we will retain the wording as is and hopefully this clarifies the difference between them.

Also, as a note, I observed that you've raised a few issues on this repo. If you have questions

[2022-07-28 14:56] #276 closed

[2022-07-28 14:57] atg-abhishek commented on #277
No, please see the definition of what R is [here](https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#functional-unit-r) to understand what we're referring to.

[2022-07-28 14:57] #277 closed

[2022-07-28 15:00] atg-abhishek commented on #278
@varnepalli1 just as a note since you've raised a few issues on our repo, please use the correct labelling. The `case-study-submission` tag is only meant to be used when you're creating a case study submission.

As for your in-line comments here, we appreciate it and will consider if this is something that WG feels needs to be changed. Thanks!

[2022-07-28 15:00] #278 closed

[2022-07-28 15:01] atg-abhishek commented on #271
@navveenb did you have a chance to create a PR against this issue? Thanks!

[2022-07-28 15:02] atg-abhishek commented on #272
I like this suggestion @navveenb, can you create a PR against this issue that the WG can review? Thanks!

[2022-07-28 15:09] atg-abhishek commented on #280
Thank you @FinancialPenguin for pointing it out. PR #282 addresses this and will auto-close this issue once approved.

[2022-07-28 16:01] Henry-WattTime opened #283 "Whether to include Appendix A in v1.0"
Should we include the appendix as currently drafted in the first specification release?

[2022-07-28 16:08] #267 closed

[2022-07-28 16:12] #280 closed

[2022-07-28 16:14] Henry-WattTime commented on #274
Blank template, closing.

[2022-07-28 16:14] #274 closed

[2022-07-28 16:15] seanmcilroy29 commented on #272
Navveen to create a PR

[2022-07-28 16:27] Henry-WattTime commented on #271
Holding on this issue until the spec is finalized. As the spec is going through the approval process, we are going to develop the Wiki as a FAQ that addresses common questions that are raised. The Wiki will be maintained and updated on an ongoing basis.

[2022-07-28 16:30] Henry-WattTime commented on #268
Addressed as part of FAQ.
Potential area for new project to strengthen guidance. Collect the data, see what is available, translate for users.

[2022-07-28 16:30] #268 closed

[2022-07-28 16:31] #266 closed

[2022-07-28 16:33] seanmcilroy29 commented on #283
Appendix A should be added as the Revision History

**Appendix A: Revision History**

[2022-07-28 16:36] Henry-WattTime commented on #283
Currently in dev, Appendix A is additional reporting requirements. (https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Appendix_A_Further_Information_on_Reporting_Requirements.md)
I think we should defer the reporting appendix until we have the chance to fully develop the reporting approach, outside of the spec (maybe reclaim the project from

[2022-07-28 17:31] tmcclell opened #284 "SCI results ranges"
I thought I added this before somewhere - but .....

Would love to see ranges identified for SCI scores - what's considered acceptable ranges? Orgs are putting in alerts and monitoring and guidance is needed for what a good score is and how it relates to savings in carbon in everyday life.

[2022-07-29 01:23] YaSuenag commented on #250
I've commented about this in https://github.com/Green-Software-Foundation/software_carbon_intensity/pull/256#discussion_r901170395 , however it does not seem to be changed.
I hope this issue will be fixed in #256 completely.

[2022-08-04 22:58] buchananwp commented on #216
Correct: we didn't create a case study. Happy to put together a summary in
the format that's required, but I'd prefer to recycle existing content if
possible (e.g. reference the paper directly. What's the timeline on this?

Note: we didn't incorporate embodied emissions (M). Unfortunately, I don't
have bandwidth to apply these new numbers into our work.

Best,
Will

On Thu, Jul 28, 2022 at 3:06 PM

[2022-08-07 13:45] YaSuenag commented on #250
I confirmed that new commit in the PR fixes this issue, so I agree to close this when the PR is merged.

[2022-08-10 13:48] GadhuNTTDATA opened #287 "Question on Exclusion of Market Based Measures"
This issue is in relation to the exclusion of market based measures.

While we understand the reasoning behind the exclusion of Offsets and Carbon credits, we feel that PPA or on-site power generation should be taken into account. This will take into account a sincere effort by the data centre or the owner of the software system to run workloads on greener energy.

For example, consider a scenario

[2022-08-10 23:21] Henry-WattTime commented on #287
Hello Gadhu,

Just because you have solar on your building does not mean that it is the cleanest time to consume electricity. Lets say you are in a region that is sunny and hot, but there is not much solar yet. Because there is so much cooling demand, the middle of the day is the dirtiest time on the grid. If that solar can be exported to neighbors or would be consumed by other uses in the data ce

[2022-08-11 08:33] YaSuenag commented on #287
@Henry-WattTime
If we have intelligent power management system to understand the source of power power for servers, we can solve your concern.

I think it is better to improve about them in v1. Some data centers manage multiple power sources, so their effort wouldn't apply to SCI - it is not fair I think.

[2022-08-17 14:59] hayasri commented on #270
Hi Folks,

Adding a comment here on the recommendation from Chris Adams. We are a three person startup building this type of SCI scoring for Kubernetes. We'd love to get involved in building the tooling for SCI scores of cloud services. Hoping to get in touch with the right folks!

Regards
Haya

[2022-08-18 15:53] Henry-WattTime commented on #283
Working group has agreed that the reporting requirements should be removed from Appendix A (and moved to other repo focused on reporting), now appendix A will be used inside the document at the bottom to record versioning.

[2022-08-18 16:15] Henry-WattTime commented on #262
Closed with PR #265

[2022-08-18 16:15] #262 closed

[2022-08-18 16:16] Henry-WattTime commented on #272
Closed with #285

[2022-08-18 16:16] #272 closed

[2022-08-18 16:17] Henry-WattTime commented on #284
WG: we don't have enough data to do this yet? Could be part of guidance document (wiki).

[2022-08-18 22:50] YaSuenag commented on #287
@Henry-WattTime
IIUC this article (paper) says energy storage is inefficiency - it does not disallow efficiency of solar energy, right?
I think we should allow "pure" renewable energies (e.g. solar energy) for SCI if we can understand / manage power sources.

[2022-08-25 16:12] Henry-WattTime commented on #283
WG: also remove cast study template

[2022-08-25 16:14] Henry-WattTime commented on #270
Closed with #286

[2022-08-25 16:14] #270 closed

[2022-09-01 15:49] seanmcilroy29 commented on #284
Greenhouse Gas Equivalencies Calculator - https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator

[2022-09-01 16:09] seanmcilroy29 opened #293 "[Action Item] Move SCI-Data from Opensource WG to the Standards WG"
Move SCI-Data from Opensource WG to the Standards WG

- Inform project leads of the proposal
- Make a motion in the Opensource to move the project

[2022-09-01 16:21] seanmcilroy29 opened #294 "[Action Item] Creation of support pages for docusaurus"
Creation of support pages and structure for Docusaurus pages

- [ ] FAQ
- [ ] Guidance
- [ ] Demo's
- [ ] On boarding guide

[2022-09-05 14:12] seanmcilroy29 opened #302 "[SCI Feedback] Software Sustainability Actions"
**Software Sustainability Actions**  submitted by Ben Logan [UBS]

All actions that can reduce the carbon emissions of a piece of software fall into one of three categories. The SCI specification intends to encourage more of these actions to be taken in developing software applications.

- Energy Efficiency: Actions taken to make software use less electricity to perform the same function.
- Hardwa

[2022-09-08 14:12] Henry-WattTime commented on #302
I think these proposed definitions add clarity and should be integrated (with a few minor tweaks).

[2022-09-08 14:16] atg-abhishek commented on #302
Agreed, makes sense to me as well - can supersede my comment in the PR on the terminology change.

[2022-09-08 14:17] atg-abhishek commented on #294
Is the onboarding guide for the onboarding to use the SCI or to participate in the SWG at the GSF?

[2022-09-08 14:17] atg-abhishek commented on #293
@seanmcilroy29 is this going to be discussed today? https://github.com/Green-Software-Foundation/standards_wg/blob/main/Agenda_Minutes/2022.09.08.Agenda.md

[2022-09-08 14:18] atg-abhishek commented on #284
I think we'd able to do this once we have a repo of case studies and then are able to draw lessons from that. They should also perhaps be split into categories - maybe we can borrow some of the work from the SCI ontology project?

[2022-09-08 14:19] atg-abhishek commented on #283
@Henry-WattTime what was the decision on the reporting requirements?

[2022-09-08 14:21] Henry-WattTime commented on #283
It was to remove this from the specification. (probably also the template?)

[2022-09-09 10:39] seanmcilroy29 opened #305 "[Consistency Review] Software Carbon Intensity (SCI) Specification"
**Consistency Review** - In this phase, the Software Carbon Intensity (SCI) Specification developed by the Standards WG will be formally reviewed by the GSF members. After this period, the the Working Group will address any submitted issues received prior to formally approving it for public release.

- The SCI Spec can be reviewed [here](https://github.com/Green-Software-Foundation/software_carbon

[2022-09-15 16:03] Henry-WattTime opened #307 "Embodied Emissions Methodology"
### Discussed in https://github.com/Green-Software-Foundation/software_carbon_intensity/discussions/301

<div type='discussions-op-text'>

<sup>Originally posted by **seanmcilroy29** September  5, 2022</sup>
**The Methodology Itself** submitted by Ben Logan [UBS]

I wonder whether the current approach to **embodied emissions** weighs too heavily on legacy apps? Could we potentially be encouraging/

[2022-09-15 16:20] Henry-WattTime commented on #302
WG: Change to FAQ

[2022-09-15 16:22] Henry-WattTime commented on #287
WG: Detailed discussion in FAQ.

[2022-09-15 16:23] Henry-WattTime commented on #284
WG: Add discussion in FAQ, add content from email.

[2022-09-15 16:26] Henry-WattTime commented on #271
WG: start this week, review next week. Mechanism is to be determined. Issue template to be created.

[2022-09-15 16:28] Henry-WattTime commented on #250
WG: addressed in the case study/example calc from Srini.

[2022-09-15 16:28] #250 closed

[2022-09-16 21:19] Henry-WattTime commented on #307
WG: maybe this should become a 2.0/1.1 issue? Important issue to incentivize the right behavior.

Add statement to spec? Add to FAQ?
Include statement about why M is included in spec. And prevent bad practices like hardware churn.

Current Calc:
Pros:
-People will provision less hardware (on prem or cloud) (Asim)
-Incentivize prolonging life of hardware (Sara)

Cons:
-Accelerate hardware retiremen

[2022-09-16 22:12] xginn8 opened #309 "Defining software system boundaries for incremental adoption"
# Consistency Review Submission

## Comment

Software today lives on a tower of abstraction that is wildly tall and any given application may require millions of lines of code beneath it to run (from the kernel, to any drivers, to the set of tools creating the operating system, to the languages used to compile/run my userland software, etc). With this abstraction in mind, what is the path to incre

[2022-09-16 22:19] xginn8 opened #310 "Separating hardware from SCI for open source projects"
# Consistency Review Submission

## Comment

SCI as defined here is a function of a software system, and hardware is a core component of that system. In many open source projects there's a complete disconnect between those who run code and those who develop the code to be run by others. If I'm developing a general purpose open source tool to be run by someone other than myself, it becomes hard to

[2022-09-22 04:09] Henry-WattTime opened #311 "[Consistency Review submission] Remove 'Version Alpha' section"
# Consistency Review Submission

## Comment

How should we re-write this section with the new 1.0 version of the spec?
(https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#version-alpha)

[2022-09-22 04:26] Henry-WattTime opened #312 "[Consistency Review submission] Is there really a reporting requirement?"
# Consistency Review Submission

## Comment
https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#procedure
"Report. The SCI has standards for reporting that must be met, including a disclosure of the software boundary and the calculation methodology."

[2022-09-22 04:41] Henry-WattTime opened #314 "[Consistency Review submission] Change order of embodied emissions calculation"
# Consistency Review Submission

## Comment
Should the formulas in the embodied emissions section be inverted to match the complexity hierarchy (simple first, break out each term into its constituent parts)
(https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#embodied-emissions-m)

[2022-09-22 04:55] Henry-WattTime opened #316 "[Consistency Review submission] Remove Definition Section?"
# Consistency Review Submission

## Comment
The definition section seems vestigial and underdeveloped. Should we just omit overall? We generally define terms in-line.

https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#definitions

[2022-09-22 13:49] atg-abhishek commented on #309
Thanks for asking @xginn8 - the way to do so is to run a lab-based estimate as outlined [here](https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#calculation) or if you're able to directly obtain telemetry, then use that as a way to incorporate the figures in the SCI calculation.

[2022-09-22 13:51] atg-abhishek commented on #310
Thank you for the question @xginn8 - in thinking about such kinds of software that is going to be used by someone else - you can provide an estimate by taking some exemplar/common hardware configurations that are likely going to be the ones that will be used in practice by end-users of the software system that you're building.

[2022-09-22 13:52] atg-abhishek commented on #311
Agreed @Henry-WattTime - we can create a PR that targets this issue to address this section of the SCI

[2022-09-22 13:53] atg-abhishek commented on #312
@Henry-WattTime should we soften the language that there _will be_ some reporting standards that users of the SCI will have to adhere to once it is released?

[2022-09-22 13:54] atg-abhishek commented on #314
That's a good callout @Henry-WattTime - this will then make it not only easier to read but also consistent with how we've chosen to reorder the core formula at the top-level for the SCI.

[2022-09-22 14:02] atg-abhishek commented on #316
@Henry-WattTime I think it would be good to expand the definition a little bit more - any suggestions on which aspects you think are missing?

[2022-09-22 15:17] Sealjay commented on #312
I definitely think there _should_ be a reporting requirement. That said, the baseline list is broken in https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Appendix_A_Further_Information_on_Reporting_Requirements.md :)

[2022-09-22 15:30] Sealjay opened #317 "[Consistency Review submission] 404 links/bug for R baselines"
# Consistency Review Submission

## Comment

- Running a training course on the SCI at the moment - and getting people in the habit of creating an SCI report to bundle with their software.

-I noticed we refer to baseline in the spec, but there are no longer pre-named baselines:
https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Appendix_A_Fur

[2022-09-22 15:32] Sealjay commented on #283
https://github.com/Green-Software-Foundation/software_carbon_intensity/issues/317 - just seen this issue. is there a repo for the reporting standards to go into? keen to have a place to reference it from, even if separated from the standard, as we're actively starting to create reports for software

[2022-09-22 15:45] Henry-WattTime commented on #309
WG:
Gadhu: include guidance on what configurations you run on, downstream if you know you can include actual, if unknown use unit test/standard assumed hardware "reference hardware".
Make assumptions about upstream hardware, include in score, can modify/refine later when you get more information.
Include in guidance/FAQ.

[2022-09-22 15:51] Henry-WattTime commented on #310
WG:
Guidance around reference architecture/hardware for situations like this.
Even though you don't control the hardware, it still provides levers to reduce emissions.

We've begun to include this in the spec here:
https://github.com/Green-Software-Foundation/software_carbon_intensity/blob/dev/Software_Carbon_Intensity/Software_Carbon_Intensity_Specification.md#calculation

Expand in FAQ.

[2022-09-22 15:58] Henry-WattTime commented on #311
WG: consensus, that this will be turned into a PR. @atg-abhishek to make this revision.

[2022-09-22 16:02] Henry-WattTime commented on #283
WG approved _moving_ appendix to reporting project repository. @Sealjay to move.

[2022-09-22 16:04] Henry-WattTime commented on #312
WG: for now, this a 'should' reporting requirement makes sense, will move to a 'shall' in the future as we refine reporting requirements. @Henry-WattTime will make the modification to the text to reflect.

[2022-09-22 16:06] Henry-WattTime commented on #314
WG: Approved, @Henry-WattTime to make the pull request.

[2022-09-22 16:10] Henry-WattTime commented on #316
WG:
Separate dictionary is a better way to manage definitions.
Can remove definitions, link to other dictionary in section.
@atg-abhishek to make PR.

[2022-09-22 16:14] #305 closed

[2022-09-22 16:17] Henry-WattTime commented on #317
WG: this issue will be resolved by moving to reporting project. No action for spec.

[2022-09-22 16:17] #317 closed

[2022-09-22 16:24] Sealjay commented on #312
Moved to SCI reporting project - https://github.com/Green-Software-Foundation/sci-reporting/tree/main @Henry-WattTime

[2022-09-29 15:45] #311 closed

[2022-09-29 15:46] #312 closed

[2022-09-29 15:47] Henry-WattTime commented on #314
addressed in #320

[2022-09-29 15:47] #314 closed

[2022-09-29 15:47] Henry-WattTime commented on #316
Addressed in #318

[2022-09-29 15:47] #316 closed

[2022-10-13 11:33] seanmcilroy29 commented on #283
see Issue #331

[2022-10-27 16:02] seanmcilroy29 opened #333 "[Certification] Investigate Certification of the SCI"
Investigate Certification of the SCI

[2022-11-03 16:35] tmcclell opened #335 "Dow/MSFT Graph DB Use Case"
## Overview

Collaborative use case with Dow and Microsoft performed by Tammy McClellan and Srinivasan Rakhunathan from Microsoft. Eric Friedeberg, Brandon Smith, and Samantha Beauchamp from Dow.

Solution chosen is a current solution in development and is the measurement of carbon in both Neo4J and TigerGraph graph databases. Information was collected via load tests by calling an API deployed in

[2022-11-22 08:30] patricekrakow opened #338 "Terminology: "Carbon emission" or "greenhouse gas (GHG) emission"?"
Should you/we not replace the terms "carbon emission" by "greenhouse gas (GHG) emission"? For instance,

could/should be replaced by

It would be more consistent with the usage of "CO2 equivalent" in units of measure.

[2022-11-28 13:42] atg-abhishek commented on #338
That's a great point and certainly worth discussing @patricekrakow! @seanmcilroy29 we can add to the next meeting agenda?

In the meantime, thoughts on this @jawache @Henry-WattTime ?

[2022-11-28 13:42] #338 closed, assigned to nobody

[2022-11-28 15:53] darren72 opened #340 "Define Letter (A to G) Based Energy Ratings for a Given Software Application"
Wouldn't it be nice if software also had an "energy rating". This energy rating is commonplace for household appliances, cars and even houses. Why not software? Assigning a letter, such as A for the best rated and say G for the worst rated is easily understood.

If we were able to provide guidance as to which rating should be applied for a given application based on the SCI it might motivate the i